In [1]:
import tushare as ts
token = "488917d460bca13177c0b510492fc5fc04d0629bc76cc32a4f73fcf0"
ts.set_token(token)
pro = ts.pro_api()

In [2]:
import QUANTAXIS as QA
import pandas as pd
import numpy as np

# 基金列表

In [3]:
#  E场内
fund_list_E =  pro.fund_basic(market='E')

In [4]:
# O场外
fund_list_O =  pro.fund_basic(market='O')

In [5]:
fund_list_E

,ts_code,name,management,custodian,fund_type,found_date,due_date,list_date,issue_date,delist_date,...,min_amount,exp_return,benchmark,status,invest_type,type,trustee,purc_startdate,redm_startdate,market
0,508058.SH,中金厦门安居REIT,中金基金,兴业银行,REITs,20220822,None,20220831,20220816,None,...,0.1,None,None,L,None,契约型封闭式,None,None,None,E
1,180501.SZ,红土深圳安居REIT,红土创新基金,招商银行,REITs,20220822,None,20220831,20220816,None,...,0.1,None,None,L,None,契约型封闭式,None,None,None,E
2,508068.SH,华夏北京保障房REIT,华夏基金,中国建设银行,REITs,20220822,None,20220831,20220816,None,...,0.1,None,None,L,None,契约型封闭式,None,None,None,E
3,159637.SZ,新能源车龙头ETF,西藏东财基金,广发证券,股票型,20220819,None,20220901,20220801,None,...,0.1,None,中证新能源汽车指数收益率,I,被动指数型,契约型开放式,None,20220901,20220901,E
4,159631.SZ,中证100ETF招商,招商基金,中信证券,股票型,20220818,None,20220826,20220801,None,...,0.1,None,中证100指数收益率,L,被动指数型,契约型开放式,None,20220826,20220826,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1686,500019.SH,基金普润,鹏华基金,中国工商银行,股票型,19920509,20070424,20010904,None,20070425,...,NaN,None,None,D,成长型,契约型封闭式,None,20010904,None,E
1687,500013.SH,基金安瑞,华安基金,中国工商银行,股票型,19920429,20070409,20010830,None,20070410,...,NaN,None,None,D,成长型,契约型封闭式,None,20010830,None,E
1688,500017.SH,基金景业,大成基金,中国农业银行,股票型,19920401,20070115,20011219,None,20070116,...,NaN,None,None,D,成长型,契约型封闭式,None,20011219,None,E
1689,184702.SZ,基金同智,长盛基金,中国银行,股票型,19920313,20070104,20000515,None,20070105,...,NaN,None,None,D,成长型,契约型封闭式,None,20000515,None,E
1690,500028.SH,基金兴业,华夏基金,中国农业银行,股票型,19911115,20060808,20010727,None,20060809,...,NaN,None,None,D,平衡型,契约型封闭式,None,20010727,None,E

In [25]:
fund_list_O

,ts_code,name,management,custodian,fund_type,found_date,due_date,list_date,issue_date,delist_date,...,min_amount,exp_return,benchmark,status,invest_type,type,trustee,purc_startdate,redm_startdate,market
0,012714.OF,长安泓润纯债E,长安基金,交通银行,债券型,20220929,None,None,None,None,...,NaN,None,中国债券综合全价指数收益率,L,债券型,契约型开放式,None,20220929,20220930,O
1,016615.OF,国泰润泰纯债C,国泰基金,交通银行,债券型,20220902,None,None,None,None,...,NaN,None,中证综合债指数收益率,L,债券型,契约型开放式,None,20220902,20220905,O
2,016604.OF,国泰嘉睿纯债C,国泰基金,交通银行,债券型,20220902,None,None,None,None,...,NaN,None,中证综合债指数收益率,L,债券型,契约型开放式,None,20220902,20220905,O
3,860066.OF,光大阳光北斗星9个月持有C,光证资管,中国民生银行,债券型,20220901,None,None,None,None,...,NaN,None,中债综合指数收益率*85%+沪深300指数收益率*10%+中证港股通综合指数(人民币)收益率*5%,L,债券型,契约型开放式,None,20220901,20220901,O
4,016494.OF,农银汇理新能源主题C,农银汇理基金,中国工商银行,混合型,20220901,None,None,None,None,...,NaN,None,中证新能源指数*65%+中证全债指数*35%,L,灵活配置型,契约型开放式,None,20220901,20220902,O
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,001250.OF,天弘新活力,天弘基金,中国邮政储蓄银行,混合型,20150429,None,None,20150427,None,...,0.001,None,沪深300指数收益率*50%+中证综合债指数收益率*50%,L,灵活配置型,契约型开放式,None,20150511,20150511,O
14996,001075.OF,宝盈转型动力A,宝盈基金,中国农业银行,混合型,20150429,None,None,20150415,None,...,0.100,None,中证800指数收益率*70%+中证综合债券指数收益率*30%,L,灵活配置型,契约型开放式,None,20150702,20150702,O
14997,001179.OF,德邦大健康,德邦基金,中国民生银行,混合型,20150429,None,None,20150413,None,...,0.010,None,中证健康产业指数*80%+中证全债指数收益率*20%,L,灵活配置型,契约型开放式,None,20150615,20150615,O
14998,001238.OF,博时招财一号大数据,博时基金,招商银行,保本型,20150429,20170502,None,20150421,None,...,0.100,None,二年期银行定期存款收益率(税后),D,保本混合型,契约型开放式,None,None,20170502,O
14999,001262.OF,大成景明A,大成基金,中国农业银行,混合型,20150429,20190107,None,20150427,None,...,0.100,None,三年期定期存款利率(税后)+2%,D,灵活配置型,契约型开放式,None,20150504,20150605,O

In [26]:
# 场内基金的类型
fund_list_E.fund_type.unique()

array(['REITs', '股票型', '混合型', '商品型', '债券型', '货币市场型', '另类投资型'],
      dtype=object)

In [27]:
# 基金的类型
fund_list_O.fund_type.unique()

array(['债券型', '混合型', '货币市场型', '股票型', '商品型', '保本型', '另类投资型'], dtype=object)

In [11]:
fund_list.columns

Index(['ts_code', 'name', 'management', 'custodian', 'fund_type', 'found_date',
       'due_date', 'list_date', 'issue_date', 'delist_date', 'issue_amount',
       'm_fee', 'c_fee', 'duration_year', 'p_value', 'min_amount',
       'exp_return', 'benchmark', 'status', 'invest_type', 'type', 'trustee',
       'purc_startdate', 'redm_startdate', 'market'],
      dtype='object')

In [42]:
np.nan == np.nan

False

In [58]:
fund_list.filter(['ts_code','fund_type','found_date','list_date','delist_date','m_fee','c_fee','benchmark','invest_type','purc_startdate'])
# .query("benchmark == benchmark")
# .query("delist_date != delist_date")
# status 存续状态D摘牌 I发行 L已上市

,ts_code,fund_type,found_date,list_date,delist_date,m_fee,c_fee,benchmark,invest_type,purc_startdate
0,508058.SH,REITs,20220822,20220831,None,0.19,0.01,None,None,None
1,180501.SZ,REITs,20220822,20220831,None,0.20,0.01,None,None,None
2,508068.SH,REITs,20220822,20220831,None,0.12,0.01,None,None,None
3,159637.SZ,股票型,20220819,20220901,None,0.50,0.05,中证新能源汽车指数收益率,被动指数型,20220901
4,159631.SZ,股票型,20220818,20220826,None,0.50,0.10,中证100指数收益率,被动指数型,20220826
...,...,...,...,...,...,...,...,...,...,...
1686,500019.SH,股票型,19920509,20010904,20070425,1.50,0.25,None,成长型,20010904
1687,500013.SH,股票型,19920429,20010830,20070410,1.50,0.25,None,成长型,20010830
1688,500017.SH,股票型,19920401,20011219,20070116,1.50,0.25,None,成长型,20011219
1689,184702.SZ,股票型,19920313,20000515,20070105,1.50,0.25,None,成长型,20000515
1690,500028.SH,股票型,19911115,20010727,20060809,1.50,0.25,None,平衡型,20010727

# 查询基金代码

In [22]:
fund_list_E.query('ts_code.str.contains("508018")',engine='python')
# 159638.SZ
# 159638

,ts_code,name,management,custodian,fund_type,found_date,due_date,list_date,issue_date,delist_date,...,min_amount,exp_return,benchmark,status,invest_type,type,trustee,purc_startdate,redm_startdate,market
60,508018.SH,华夏中国交建REIT,华夏基金,中国农业银行,REITs,20220413,None,20220428,20220407,None,...,NaN,None,None,L,None,契约型封闭式,None,None,None,E

In [16]:
fund_list_E.query("ts_code=='159638.SZ'")

,ts_code,name,management,custodian,fund_type,found_date,due_date,list_date,issue_date,delist_date,...,min_amount,exp_return,benchmark,status,invest_type,type,trustee,purc_startdate,redm_startdate,market
8,159638.SZ,高端装备ETF,嘉实基金,兴业银行,股票型,20220805,None,20220812,20220718,None,...,0.1,None,中证高端装备细分50指数收益率,L,被动指数型,契约型开放式,None,20220812,20220812,E

# 基金规模

In [23]:
# pro.fund_share(ts_code='150018.SZ')
pro.fund_share(ts_code='508018.SH')

      ts_code trade_date  fd_share fund_type market
0   508018.SH   20220913  100000.0      None     SH
1   508018.SH   20220909  100000.0      None     SH
2   508018.SH   20220908  100000.0      None     SH
3   508018.SH   20220907  100000.0      None     SH
4   508018.SH   20220906  100000.0      None     SH
..        ...        ...       ...       ...    ...
91  508018.SH   20220429  100000.0      None     SH
92  508018.SH   20220428  100000.0      None     SH
93  508018.SH   20220427  100000.0      None     SH
94  508018.SH   20220421  100000.0      None     SH
95  508018.SH   20220413  100000.0      None     SH

[96 rows x 5 columns]

# 基金持仓

In [41]:
## 军工ETF
df = pro.fund_portfolio(ts_code='512660.SH') #半导体ETF
df.query('end_date == "20220630"').sort_values(by='stk_mkv_ratio',ascending = 0)
# df

,ts_code,ann_date,end_date,symbol,mkv,amount,stk_mkv_ratio,stk_float_ratio
9,512660.SH,20220721,20220630,600893.SH,6.885413e+08,15129450.0,5.82,0.65
2,512660.SH,20220721,20220630,002179.SZ,5.755675e+08,9089822.0,4.86,0.60
0,512660.SH,20220721,20220630,000733.SZ,5.485125e+08,4034070.0,4.63,0.78
7,512660.SH,20220721,20220630,600760.SH,5.486881e+08,9076727.0,4.63,0.46
1,512660.SH,20220721,20220630,000768.SZ,4.888159e+08,16137863.0,4.13,0.58
...,...,...,...,...,...,...,...,...
69,512660.SH,20220830,20220630,301222.SZ,9.614720e+03,332.0,0.00,0.00
70,512660.SH,20220830,20220630,301238.SZ,1.121488e+05,3497.0,0.00,0.00
71,512660.SH,20220830,20220630,301239.SZ,1.933865e+05,5747.0,0.00,0.02
72,512660.SH,20220830,20220630,301263.SZ,2.140116e+04,682.0,0.00,0.00
102,512660.SH,20220830,20220630,688290.SH,1.424848e+05,3040.0,0.00,0.02

## 半导体ETF

In [39]:
df = pro.fund_portfolio(ts_code='512480.SH') #半导体ETF
df.query('end_date == "20220630"').sort_values(by='stk_mkv_ratio',ascending = 0)
# df

,ts_code,ann_date,end_date,symbol,mkv,amount,stk_mkv_ratio,stk_float_ratio
8,512480.SH,20220721,20220630,603986.SH,7.779055e+08,5470118.0,7.23,0.83
7,512480.SH,20220721,20220630,603501.SH,7.669051e+08,4432209.0,7.13,0.56
14,512480.SH,20220721,20220630,688981.SH,7.417969e+08,16422335.0,6.89,0.88
0,512480.SH,20220721,20220630,002049.SZ,6.850673e+08,3610939.0,6.37,0.60
1,512480.SH,20220721,20220630,002371.SZ,6.305483e+08,2275362.0,5.86,0.46
...,...,...,...,...,...,...,...,...
53,512480.SH,20220831,20220630,301162.SZ,1.807274e+04,334.0,0.00,0.00
52,512480.SH,20220831,20220630,301158.SZ,7.724020e+03,379.0,0.00,0.00
51,512480.SH,20220831,20220630,301153.SZ,1.750404e+04,398.0,0.00,0.00
79,512480.SH,20220831,20220630,601089.SH,3.681645e+04,1749.0,0.00,0.00
54,512480.SH,20220831,20220630,301175.SZ,2.433111e+05,63694.0,0.00,0.02

## 芯片ETF

In [37]:
# df = pro.fund_portfolio(ts_code='159638.SZ')
# df = pro.fund_portfolio(ts_code='508018.SH')
df = pro.fund_portfolio(ts_code='159995.SZ') #芯片ETF
df.query('end_date == "20220630"').sort_values(by='stk_mkv_ratio',ascending = 0)

,ts_code,ann_date,end_date,symbol,mkv,amount,stk_mkv_ratio,stk_float_ratio
1,159995.SZ,20220720,20220630,002129.SZ,2.193865e+09,37253608.0,11.32,1.15
7,159995.SZ,20220720,20220630,603501.SH,1.499026e+09,8663387.0,7.74,1.09
0,159995.SZ,20220720,20220630,002049.SZ,1.282780e+09,6761440.0,6.62,1.11
8,159995.SZ,20220720,20220630,603986.SH,1.283708e+09,9026847.0,6.62,1.36
9,159995.SZ,20220720,20220630,688981.SH,1.244025e+09,27540956.0,6.42,1.47
...,...,...,...,...,...,...,...,...
40,159995.SZ,20220830,20220630,301212.SZ,1.384448e+04,416.0,0.00,0.00
41,159995.SZ,20220830,20220630,301219.SZ,5.075996e+04,578.0,0.00,0.00
42,159995.SZ,20220830,20220630,301220.SZ,1.115775e+04,285.0,0.00,0.00
43,159995.SZ,20220830,20220630,301228.SZ,7.586820e+03,373.0,0.00,0.00
34,159995.SZ,20220830,20220630,301162.SZ,1.807274e+04,334.0,0.00,0.00

## 证券ETF

In [34]:
df = pro.fund_portfolio(ts_code='512880.SH') #证券ETF
df.query('end_date == "20160801"').sort_values(by='stk_mkv_ratio',ascending = 0)

,ts_code,ann_date,end_date,symbol,mkv,amount,stk_mkv_ratio,stk_float_ratio
1005,512880.SH,20160803,20160801,600030.SH,13586995.0,841300.0,16.11,0.01
1007,512880.SH,20160803,20160801,600837.SH,6940296.0,457200.0,8.23,0.01
1002,512880.SH,20160803,20160801,000776.SZ,6644253.0,410900.0,7.88,0.01
1009,512880.SH,20160803,20160801,601555.SH,5724320.0,430400.0,6.79,0.02
1008,512880.SH,20160803,20160801,601377.SH,4353229.8,571290.0,5.16,0.01
1001,512880.SH,20160803,20160801,000166.SZ,4188016.0,683200.0,4.97,0.01
1010,512880.SH,20160803,20160801,601688.SH,3746250.0,199800.0,4.44,0.00
1003,512880.SH,20160803,20160801,000783.SZ,3548010.0,340500.0,4.21,0.01
1004,512880.SH,20160803,20160801,002736.SZ,3257455.0,201700.0,3.86,0.01
1006,512880.SH,20160803,20160801,600109.SH,3064320.0,239400.0,3.63,0.01

In [18]:
df.query("end_date=='20220630'").groupby(['ts_code'])['stk_mkv_ratio'].sum()

Series([], Name: stk_mkv_ratio, dtype: float64)

In [32]:
df.query("end_date=='20220630' and stk_mkv_ratio>1").sort_values(by='stk_mkv_ratio',ascending=0)

,ts_code,ann_date,end_date,symbol,mkv,amount,stk_mkv_ratio,stk_float_ratio
8,001753.OF,20220721,20220630,601012.SH,30847024.80,462960.0,9.71,0.01
5,001753.OF,20220721,20220630,002466.SZ,29764800.00,238500.0,9.37,0.02
9,001753.OF,20220721,20220630,605117.SH,27630740.80,98720.0,8.70,0.12
4,001753.OF,20220721,20220630,002459.SZ,22490287.20,285048.0,7.08,0.03
6,001753.OF,20220721,20220630,002594.SZ,19475816.00,58400.0,6.13,0.01
2,001753.OF,20220721,20220630,002176.SZ,18803662.80,750945.0,5.92,0.04
7,001753.OF,20220721,20220630,002756.SZ,16841123.24,110644.0,5.30,0.04
3,001753.OF,20220721,20220630,002192.SZ,15247040.00,99200.0,4.80,0.04
1,001753.OF,20220721,20220630,000625.SZ,13810656.24,797382.0,4.35,0.01
0,001753.OF,20220721,20220630,000408.SZ,13253079.60,402340.0,4.17,0.03
328,001753.OF,20220831,20220630,688156.SH,10775574.72,505184.0,3.39,0.72
230,001753.OF,20220831,20220630,600884.SH,9106208.00,306400.0,2.87,0.02
43,001753.OF,20220831,20220630,002129.SZ,8615607.00,146300.0,2.71,0.00
350,001753.OF,20220831,20220630,688320.SH,7977669.60,154606.0,2.51,0.50
76,001753.OF,20220831,20220630,300457.SZ,7309893.00,257300.0,2.30,0.05
354,001753.OF,20220831,20220630,688348.SH,6840296.00,14017.0,2.15,0.08
75,001753.OF,20220831,20220630,300450.SZ,5787288.00,91600.0,1.82,0.01
225,001753.OF,20220831,20220630,600323.SH,5193675.00,253350.0,1.64,0.03
52,001753.OF,20220831,20220630,002709.SZ,4912049.00,79150.0,1.55,0.01
86,001753.OF,20220831,20220630,300763.SZ,3663600.00,17200.0,1.15,0.01
360,001753.OF,20220831,20220630,688599.SH,3648127.50,55910.0,1.15,0.00
71,001753.OF,20220831,20220630,300390.SZ,3522220.00,40300.0,1.11,0.01
70,001753.OF,20220831,20220630,300274.SZ,3537000.00,36000.0,1.11,0.00
44,001753.OF,20220831,20220630,002240.SZ,3380160.00,56000.0,1.06,0.01

In [2]:
level_2_index = pro.index_classify(level='L2',src='SW2021')

In [3]:
level_2_index

    index_code industry_name level industry_code is_pub parent_code
0    801016.SI           种植业    L2        110100      1      110000
1    801015.SI            渔业    L2        110200      1      110000
2    801011.SI           林业Ⅱ    L2        110300      0      110000
3    801014.SI            饲料    L2        110400      1      110000
4    801012.SI         农产品加工    L2        110500      1      110000
..         ...           ...   ...           ...    ...         ...
129  801971.SI          环境治理    L2        760100      1      760000
130  801972.SI         环保设备Ⅱ    L2        760200      1      760000
131  801981.SI          个护用品    L2        770100      1      770000
132  801982.SI           化妆品    L2        770200      1      770000
133  801983.SI          医疗美容    L2        770300      0      770000

[134 rows x 6 columns]

In [11]:
index_all

    index_code industry_name level industry_code is_pub parent_code
0    801010.SI          农林牧渔    L1        110000      1           0
1    801030.SI          基础化工    L1        220000      1           0
2    801040.SI            钢铁    L1        230000      1           0
3    801050.SI          有色金属    L1        240000      1           0
4    801080.SI            电子    L1        270000      1           0
..         ...           ...   ...           ...    ...         ...
506  859812.SI          洗护用品    L3        770102      0      770100
507  859821.SI      化妆品制造及其他    L3        770201      1      770200
508  859822.SI         品牌化妆品    L3        770202      1      770200
509  859831.SI          医美耗材    L3        770301      0      770300
510  859832.SI          医美服务    L3        770302      0      770300

[511 rows x 6 columns]

In [2]:
dir(ts)

['MailMerge',
 'TraderAPI',
 '__author__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'bar',
 'bdi',
 'broker_tops',
 'cap_tops',
 'close_apis',
 'codecs',
 'coins',
 'coins_bar',
 'coins_snapshot',
 'coins_tick',
 'coins_trade',
 'day_boxoffice',
 'day_cinema',
 'forecast_data',
 'fund',
 'fund_holdings',
 'futures',
 'get_apis',
 'get_area_classified',
 'get_balance_sheet',
 'get_cash_flow',
 'get_cashflow_data',
 'get_cffex_daily',
 'get_concept_classified',
 'get_cpi',
 'get_czce_daily',
 'get_day_all',
 'get_dce_daily',
 'get_debtpaying_data',
 'get_deposit_rate',
 'get_fund_info',
 'get_future_daily',
 'get_gdp_contrib',
 'get_gdp_for',
 'get_gdp_pull',
 'get_gdp_quarter',
 'get_gdp_year',
 'get_gem_classified',
 'get_gold_and_foreign_reserves',
 'get_growth_data',
 'get_h_data',
 'get_hist_data',
 'get_hists',
 'get_hs300s',
 'get_index',
 'get_industry_classified',
 'get_instrument',
 'get_intlfuture',
 'get_k_data',
 'get_latest_news',
 'get_loan_rate',
 'get_markets',
 'get_money_supply',
 'get_money_supply_bal',
 'get_nav_close',
 'get_nav_grading',
 'get_nav_history',
 'get_nav_open',
 'get_notices',
 'get_operation_data',
 'get_ppi',
 'get_profit_data',
 'get_profit_statement',
 'get_realtime_quotes',
 'get_report_data',
 'get_rrr',
 'get_shfe_daily',
 'get_shfe_vwap',
 'get_sina_dd',
 'get_sme_classified',
 'get_st_classified',
 'get_stock_basics',
 'get_suspended',
 'get_sz50s',
 'get_terminated',
 'get_tick_data',
 'get_today_all',
 'get_today_ticks',
 'get_token',
 'get_zz500s',
 'global_realtime',
 'guba_sina',
 'inst_detail',
 'inst_tops',
 'internet',
 'is_holiday',
 'latest_content',
 'lpr_data',
 'lpr_ma_data',
 'margin_detail',
 'margin_offset',
 'margin_target',
 'margin_zsl',
 'moneyflow_hsgt',
 'month_boxoffice',
 'new_cbonds',
 'new_stocks',
 'notice_content',
 'os',
 'pledged_detail',
 'pro',
 'pro_api',
 'pro_bar',
 'profit_data',
 'profit_divis',
 'quotes',
 'realtime_boxoffice',
 'reset_instrument',
 'set_token',
 'sh_margin_details',
 'sh_margins',
 'shibor_data',
 'shibor_ma_data',
 'shibor_quote_data',
 'stock',
 'stock_issuance',
 'stock_pledged',
 'subs',
 'sz_margin_details',
 'sz_margins',
 'tick',
 'top10_holders',
 'top_list',
 'trade_cal',
 'trader',
 'util',
 'xsg_data']