In [1]:
import tushare as ts
token = "488917d460bca13177c0b510492fc5fc04d0629bc76cc32a4f73fcf0"
ts.set_token(token)
pro = ts.pro_api()

# 基金列表

In [3]:
#  E场内
fund_list_E =  pro.fund_basic(market='E')

In [4]:
# O场外
fund_list_O =  pro.fund_basic(market='O')

In [5]:
fund_list_E

,ts_code,name,management,custodian,fund_type,found_date,due_date,list_date,issue_date,delist_date,...,min_amount,exp_return,benchmark,status,invest_type,type,trustee,purc_startdate,redm_startdate,market
0,180102.SZ,华夏合肥高新REIT,华夏基金,中国工商银行,REITs,20220920,None,None,20220914,None,...,0.1,None,None,I,None,契约型封闭式,None,None,None,E
1,159645.SZ,疫苗龙头ETF,富国基金,平安银行,股票型,20220916,None,20220926,20220901,None,...,0.1,None,国证疫苗与生物科技指数,I,被动指数型,契约型开放式,None,20220926,20220926,E
2,562310.SH,沪深300成长ETF,银华基金,中国建设银行,股票型,20220901,None,20220909,20220824,None,...,0.1,None,沪深300成长指数收益率,L,被动指数型,契约型开放式,None,20220909,20220909,E
3,513260.SH,恒生科技ETFQD,汇添富基金,招商银行,股票型,20220831,None,20220913,20220527,None,...,0.1,None,经人民币汇率调整的恒生科技指数收益率,L,被动指数型,契约型开放式,None,20220913,20220913,E
4,159621.SZ,MSCIESGETF,国泰基金,中信银行,股票型,20220830,None,20220909,20220524,None,...,0.1,None,MSCI中国A股人民币ESG通用指数(MSCI China A RMB ESG Univer...,L,被动指数型,契约型开放式,None,20220909,20220909,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1694,500017.SH,基金景业,大成基金,中国农业银行,股票型,19920401,20070115,20011219,None,20070116,...,NaN,None,None,D,成长型,契约型封闭式,None,20011219,None,E
1695,184702.SZ,基金同智,长盛基金,中国银行,股票型,19920313,20070104,20000515,None,20070105,...,NaN,None,None,D,成长型,契约型封闭式,None,20000515,None,E
1696,500028.SH,基金兴业,华夏基金,中国农业银行,股票型,19911115,20060808,20010727,None,20060809,...,NaN,None,None,D,平衡型,契约型封闭式,None,20010727,None,E
1697,508021.SH,国泰君安临港创新产业园REIT,国泰君安资管,中国银行,REITs,None,None,None,20220919,None,...,0.1,None,None,I,None,契约型封闭式,None,None,None,E
1698,508088.SH,国泰君安东久新经济REIT,国泰君安资管,中国银行,REITs,None,None,None,20220920,None,...,0.1,None,None,I,None,契约型封闭式,None,None,None,E

In [6]:
fund_list_O

,ts_code,name,management,custodian,fund_type,found_date,due_date,list_date,issue_date,delist_date,...,min_amount,exp_return,benchmark,status,invest_type,type,trustee,purc_startdate,redm_startdate,market
0,012714.OF,长安泓润纯债E,长安基金,交通银行,债券型,20220929,None,None,None,None,...,NaN,None,中国债券综合全价指数收益率,L,债券型,契约型开放式,None,20220929,20220930,O
1,016728.OF,华安乾煜C,华安基金,招商银行,债券型,20220922,None,None,None,None,...,NaN,None,中债综合全价指数收益率*85%+中证800指数收益率*10%+中证港股通综合指数收益率*5%,L,债券型,契约型开放式,None,20220922,20220923,O
2,970186.OF,中原天天汇利货币,中原证券,中国证券登记结算公司,货币市场型,20220922,None,None,20220922,None,...,NaN,None,同期中国人民银行公布的活期存款利率(税后),L,货币型,契约型开放式,None,None,None,O
3,016597.OF,民生加银月月乐30天持有C,民生加银基金,中信银行,债券型,20220920,None,None,20220905,None,...,0.0001,None,中债综合财富(1年以下)指数收益率*80%+银行一年期定期存款利率(税后)*20%,L,债券型,契约型开放式,None,None,None,O
4,016596.OF,民生加银月月乐30天持有A,民生加银基金,中信银行,债券型,20220920,None,None,20220905,None,...,0.0001,None,中债综合财富(1年以下)指数收益率*80%+银行一年期定期存款利率(税后)*20%,L,债券型,契约型开放式,None,None,None,O
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,673020.OF,西部利得成长精选,西部利得基金,兴业银行,混合型,20150602,None,None,20150526,None,...,0.0010,None,三年期银行定期存款利率(税后),L,灵活配置型,契约型开放式,None,20150604,20150604,O
14996,001245.OF,工银瑞信生态环境A,工银瑞信基金,浦发银行,股票型,20150602,None,None,20150511,None,...,0.0010,None,中证环保产业指数收益率*80%+中债综合财富指数收益率*20%,L,股票型,契约型开放式,None,20150702,20150702,O
14997,001219.OF,上投摩根动态多因子,上投摩根基金,中国建设银行,混合型,20150602,None,None,20150507,None,...,0.1000,None,沪深300指数收益率*60%+中债总指数收益率*40%,L,灵活配置型,契约型开放式,None,20150706,20150706,O
14998,001291.OF,大摩量化多策略,摩根士丹利华鑫基金,中国建设银行,股票型,20150602,None,None,20150521,None,...,0.1000,None,沪深300指数收益率*85%+标普中国债券指数收益率*15%,L,股票型,契约型开放式,None,20150901,20150901,O
14999,519755.OF,交银多策略回报A,交银施罗德基金,中国农业银行,混合型,20150602,None,None,20150526,None,...,0.1000,None,沪深300指数收益率*50%+中债综合全价指数收益率*50%,L,灵活配置型,契约型开放式,None,20150610,20150709,O

In [7]:
# 场内基金的类型
fund_list_E.fund_type.unique()

array(['REITs', '股票型', '混合型', '商品型', '债券型', '货币市场型', '另类投资型'],
      dtype=object)

In [8]:
# 基金的类型
fund_list_O.fund_type.unique()

array(['债券型', '货币市场型', '混合型', '股票型', '商品型', '保本型', '另类投资型'], dtype=object)

In [10]:
fund_list_O.columns

Index(['ts_code', 'name', 'management', 'custodian', 'fund_type', 'found_date',
       'due_date', 'list_date', 'issue_date', 'delist_date', 'issue_amount',
       'm_fee', 'c_fee', 'duration_year', 'p_value', 'min_amount',
       'exp_return', 'benchmark', 'status', 'invest_type', 'type', 'trustee',
       'purc_startdate', 'redm_startdate', 'market'],
      dtype='object')

In [42]:
np.nan == np.nan

False

In [58]:
fund_list.filter(['ts_code','fund_type','found_date','list_date','delist_date','m_fee','c_fee','benchmark','invest_type','purc_startdate'])
# .query("benchmark == benchmark")
# .query("delist_date != delist_date")
# status 存续状态D摘牌 I发行 L已上市

,ts_code,fund_type,found_date,list_date,delist_date,m_fee,c_fee,benchmark,invest_type,purc_startdate
0,508058.SH,REITs,20220822,20220831,None,0.19,0.01,None,None,None
1,180501.SZ,REITs,20220822,20220831,None,0.20,0.01,None,None,None
2,508068.SH,REITs,20220822,20220831,None,0.12,0.01,None,None,None
3,159637.SZ,股票型,20220819,20220901,None,0.50,0.05,中证新能源汽车指数收益率,被动指数型,20220901
4,159631.SZ,股票型,20220818,20220826,None,0.50,0.10,中证100指数收益率,被动指数型,20220826
...,...,...,...,...,...,...,...,...,...,...
1686,500019.SH,股票型,19920509,20010904,20070425,1.50,0.25,None,成长型,20010904
1687,500013.SH,股票型,19920429,20010830,20070410,1.50,0.25,None,成长型,20010830
1688,500017.SH,股票型,19920401,20011219,20070116,1.50,0.25,None,成长型,20011219
1689,184702.SZ,股票型,19920313,20000515,20070105,1.50,0.25,None,成长型,20000515
1690,500028.SH,股票型,19911115,20010727,20060809,1.50,0.25,None,平衡型,20010727

# 查询基金代码

In [22]:
fund_list_E.query('ts_code.str.contains("508018")',engine='python')
# 159638.SZ
# 159638

,ts_code,name,management,custodian,fund_type,found_date,due_date,list_date,issue_date,delist_date,...,min_amount,exp_return,benchmark,status,invest_type,type,trustee,purc_startdate,redm_startdate,market
60,508018.SH,华夏中国交建REIT,华夏基金,中国农业银行,REITs,20220413,None,20220428,20220407,None,...,NaN,None,None,L,None,契约型封闭式,None,None,None,E

In [16]:
fund_list_E.query("ts_code=='159638.SZ'")

,ts_code,name,management,custodian,fund_type,found_date,due_date,list_date,issue_date,delist_date,...,min_amount,exp_return,benchmark,status,invest_type,type,trustee,purc_startdate,redm_startdate,market
8,159638.SZ,高端装备ETF,嘉实基金,兴业银行,股票型,20220805,None,20220812,20220718,None,...,0.1,None,中证高端装备细分50指数收益率,L,被动指数型,契约型开放式,None,20220812,20220812,E

# 基金规模

In [23]:
# pro.fund_share(ts_code='150018.SZ')
pro.fund_share(ts_code='508018.SH')

      ts_code trade_date  fd_share fund_type market
0   508018.SH   20220913  100000.0      None     SH
1   508018.SH   20220909  100000.0      None     SH
2   508018.SH   20220908  100000.0      None     SH
3   508018.SH   20220907  100000.0      None     SH
4   508018.SH   20220906  100000.0      None     SH
..        ...        ...       ...       ...    ...
91  508018.SH   20220429  100000.0      None     SH
92  508018.SH   20220428  100000.0      None     SH
93  508018.SH   20220427  100000.0      None     SH
94  508018.SH   20220421  100000.0      None     SH
95  508018.SH   20220413  100000.0      None     SH

[96 rows x 5 columns]

# 基金持仓

In [41]:
## 军工ETF
df = pro.fund_portfolio(ts_code='512660.SH') #半导体ETF
df.query('end_date == "20220630"').sort_values(by='stk_mkv_ratio',ascending = 0)
# df

,ts_code,ann_date,end_date,symbol,mkv,amount,stk_mkv_ratio,stk_float_ratio
9,512660.SH,20220721,20220630,600893.SH,6.885413e+08,15129450.0,5.82,0.65
2,512660.SH,20220721,20220630,002179.SZ,5.755675e+08,9089822.0,4.86,0.60
0,512660.SH,20220721,20220630,000733.SZ,5.485125e+08,4034070.0,4.63,0.78
7,512660.SH,20220721,20220630,600760.SH,5.486881e+08,9076727.0,4.63,0.46
1,512660.SH,20220721,20220630,000768.SZ,4.888159e+08,16137863.0,4.13,0.58
...,...,...,...,...,...,...,...,...
69,512660.SH,20220830,20220630,301222.SZ,9.614720e+03,332.0,0.00,0.00
70,512660.SH,20220830,20220630,301238.SZ,1.121488e+05,3497.0,0.00,0.00
71,512660.SH,20220830,20220630,301239.SZ,1.933865e+05,5747.0,0.00,0.02
72,512660.SH,20220830,20220630,301263.SZ,2.140116e+04,682.0,0.00,0.00
102,512660.SH,20220830,20220630,688290.SH,1.424848e+05,3040.0,0.00,0.02

## 房地产ETF

In [12]:
df = pro.fund_portfolio(ts_code='159768.SZ') #房地产ETF
df.query('end_date == "20220630"').sort_values(by='stk_mkv_ratio',ascending = 0)
# df

,ts_code,ann_date,end_date,symbol,mkv,amount,stk_mkv_ratio,stk_float_ratio
27,159768.SZ,20220719,20220630,000002.SZ,41185709.50,2009059.0,16.09,0.02
12,159768.SZ,20220719,20220630,600048.SH,40927986.00,2344100.0,15.99,0.02
24,159768.SZ,20220719,20220630,001979.SZ,24828041.00,1848700.0,9.70,0.02
3,159768.SZ,20220719,20220630,600383.SH,21370944.00,1590100.0,8.35,0.04
26,159768.SZ,20220719,20220630,000069.SZ,15531868.00,2393200.0,6.07,0.03
7,159768.SZ,20220719,20220630,601155.SH,13505873.00,531100.0,5.28,0.02
4,159768.SZ,20220719,20220630,600606.SH,8888220.00,2244500.0,3.47,0.02
2,159768.SZ,20220719,20220630,600325.SH,7549561.00,997300.0,2.95,0.05
5,159768.SZ,20220719,20220630,600848.SH,7521732.00,554700.0,2.94,0.04
1,159768.SZ,20220719,20220630,600208.SH,6944712.00,2516200.0,2.71,0.03
17,159768.SZ,20220829,20220630,002244.SZ,6271250.00,725000.0,2.45,0.03
11,159768.SZ,20220829,20220630,000656.SZ,6238518.00,2181300.0,2.44,0.04
23,159768.SZ,20220829,20220630,600895.SH,5571375.00,447500.0,2.18,0.03
18,159768.SZ,20220829,20220630,600064.SH,5507700.00,500700.0,2.15,0.04
21,159768.SZ,20220829,20220630,600663.SH,5384092.00,519700.0,2.10,0.02
10,159768.SZ,20220829,20220630,000540.SZ,4731395.00,2451500.0,1.85,0.04
15,159768.SZ,20220829,20220630,001914.SZ,4514064.00,251200.0,1.76,0.04
9,159768.SZ,20220829,20220630,000402.SZ,4142390.00,696200.0,1.62,0.02
16,159768.SZ,20220829,20220630,002146.SZ,3850221.00,1270700.0,1.50,0.03
19,159768.SZ,20220829,20220630,600376.SH,3700176.00,753600.0,1.45,0.03
14,159768.SZ,20220829,20220630,000961.SZ,3398615.00,1114300.0,1.33,0.03
13,159768.SZ,20220829,20220630,000718.SZ,3274096.00,889700.0,1.28,0.04
0,159768.SZ,20220829,20220630,000671.SZ,3168711.00,1446900.0,1.24,0.04
8,159768.SZ,20220829,20220630,000031.SZ,2997200.00,749300.0,1.17,0.04
20,159768.SZ,20220829,20220630,600648.SH,2962080.00,217800.0,1.16,0.02
22,159768.SZ,20220829,20220630,600823.SH,1951304.00,654800.0,0.76,0.02
6,159768.SZ,20220719,20220630,601089.SH,36816.45,1749.0,0.01,0.00
25,159768.SZ,20220719,20220630,001268.SZ,11337.48,409.0,0.00,0.00

In [13]:
df = pro.fund_portfolio(ts_code='512200.SH') #房地产ETF
df.query('end_date == "20220630"').sort_values(by='stk_mkv_ratio',ascending = 0)
# df

,ts_code,ann_date,end_date,symbol,mkv,amount,stk_mkv_ratio,stk_float_ratio
0,512200.SH,20220721,20220630,000002.SZ,8.097656e+08,39500762.0,11.08,0.41
5,512200.SH,20220721,20220630,600048.SH,7.994708e+08,45788705.0,10.94,0.38
2,512200.SH,20220721,20220630,001979.SZ,4.444766e+08,33095800.0,6.08,0.43
8,512200.SH,20220721,20220630,600383.SH,3.777052e+08,28103063.0,5.17,0.62
1,512200.SH,20220721,20220630,000069.SZ,2.772165e+08,42714400.0,3.79,0.61
...,...,...,...,...,...,...,...,...
62,512200.SH,20220831,20220630,301207.SZ,3.210298e+04,569.0,0.00,0.00
14,512200.SH,20220721,20220630,688267.SH,1.081410e+05,3390.0,0.00,0.01
63,512200.SH,20220831,20220630,301248.SZ,1.409864e+04,472.0,0.00,0.00
59,512200.SH,20220831,20220630,301153.SZ,1.750404e+04,398.0,0.00,0.00
58,512200.SH,20220831,20220630,301150.SZ,3.343504e+04,404.0,0.00,0.00

## 半导体ETF

In [39]:
df = pro.fund_portfolio(ts_code='512480.SH') #半导体ETF
df.query('end_date == "20220630"').sort_values(by='stk_mkv_ratio',ascending = 0)
# df

,ts_code,ann_date,end_date,symbol,mkv,amount,stk_mkv_ratio,stk_float_ratio
8,512480.SH,20220721,20220630,603986.SH,7.779055e+08,5470118.0,7.23,0.83
7,512480.SH,20220721,20220630,603501.SH,7.669051e+08,4432209.0,7.13,0.56
14,512480.SH,20220721,20220630,688981.SH,7.417969e+08,16422335.0,6.89,0.88
0,512480.SH,20220721,20220630,002049.SZ,6.850673e+08,3610939.0,6.37,0.60
1,512480.SH,20220721,20220630,002371.SZ,6.305483e+08,2275362.0,5.86,0.46
...,...,...,...,...,...,...,...,...
53,512480.SH,20220831,20220630,301162.SZ,1.807274e+04,334.0,0.00,0.00
52,512480.SH,20220831,20220630,301158.SZ,7.724020e+03,379.0,0.00,0.00
51,512480.SH,20220831,20220630,301153.SZ,1.750404e+04,398.0,0.00,0.00
79,512480.SH,20220831,20220630,601089.SH,3.681645e+04,1749.0,0.00,0.00
54,512480.SH,20220831,20220630,301175.SZ,2.433111e+05,63694.0,0.00,0.02

## 芯片ETF

In [37]:
# df = pro.fund_portfolio(ts_code='159638.SZ')
# df = pro.fund_portfolio(ts_code='508018.SH')
df = pro.fund_portfolio(ts_code='159995.SZ') #芯片ETF
df.query('end_date == "20220630"').sort_values(by='stk_mkv_ratio',ascending = 0)

,ts_code,ann_date,end_date,symbol,mkv,amount,stk_mkv_ratio,stk_float_ratio
1,159995.SZ,20220720,20220630,002129.SZ,2.193865e+09,37253608.0,11.32,1.15
7,159995.SZ,20220720,20220630,603501.SH,1.499026e+09,8663387.0,7.74,1.09
0,159995.SZ,20220720,20220630,002049.SZ,1.282780e+09,6761440.0,6.62,1.11
8,159995.SZ,20220720,20220630,603986.SH,1.283708e+09,9026847.0,6.62,1.36
9,159995.SZ,20220720,20220630,688981.SH,1.244025e+09,27540956.0,6.42,1.47
...,...,...,...,...,...,...,...,...
40,159995.SZ,20220830,20220630,301212.SZ,1.384448e+04,416.0,0.00,0.00
41,159995.SZ,20220830,20220630,301219.SZ,5.075996e+04,578.0,0.00,0.00
42,159995.SZ,20220830,20220630,301220.SZ,1.115775e+04,285.0,0.00,0.00
43,159995.SZ,20220830,20220630,301228.SZ,7.586820e+03,373.0,0.00,0.00
34,159995.SZ,20220830,20220630,301162.SZ,1.807274e+04,334.0,0.00,0.00

## 证券ETF

In [34]:
df = pro.fund_portfolio(ts_code='512880.SH') #证券ETF
df.query('end_date == "20160801"').sort_values(by='stk_mkv_ratio',ascending = 0)

,ts_code,ann_date,end_date,symbol,mkv,amount,stk_mkv_ratio,stk_float_ratio
1005,512880.SH,20160803,20160801,600030.SH,13586995.0,841300.0,16.11,0.01
1007,512880.SH,20160803,20160801,600837.SH,6940296.0,457200.0,8.23,0.01
1002,512880.SH,20160803,20160801,000776.SZ,6644253.0,410900.0,7.88,0.01
1009,512880.SH,20160803,20160801,601555.SH,5724320.0,430400.0,6.79,0.02
1008,512880.SH,20160803,20160801,601377.SH,4353229.8,571290.0,5.16,0.01
1001,512880.SH,20160803,20160801,000166.SZ,4188016.0,683200.0,4.97,0.01
1010,512880.SH,20160803,20160801,601688.SH,3746250.0,199800.0,4.44,0.00
1003,512880.SH,20160803,20160801,000783.SZ,3548010.0,340500.0,4.21,0.01
1004,512880.SH,20160803,20160801,002736.SZ,3257455.0,201700.0,3.86,0.01
1006,512880.SH,20160803,20160801,600109.SH,3064320.0,239400.0,3.63,0.01

In [18]:
df.query("end_date=='20220630'").groupby(['ts_code'])['stk_mkv_ratio'].sum()

Series([], Name: stk_mkv_ratio, dtype: float64)

In [32]:
df.query("end_date=='20220630' and stk_mkv_ratio>1").sort_values(by='stk_mkv_ratio',ascending=0)

,ts_code,ann_date,end_date,symbol,mkv,amount,stk_mkv_ratio,stk_float_ratio
8,001753.OF,20220721,20220630,601012.SH,30847024.80,462960.0,9.71,0.01
5,001753.OF,20220721,20220630,002466.SZ,29764800.00,238500.0,9.37,0.02
9,001753.OF,20220721,20220630,605117.SH,27630740.80,98720.0,8.70,0.12
4,001753.OF,20220721,20220630,002459.SZ,22490287.20,285048.0,7.08,0.03
6,001753.OF,20220721,20220630,002594.SZ,19475816.00,58400.0,6.13,0.01
2,001753.OF,20220721,20220630,002176.SZ,18803662.80,750945.0,5.92,0.04
7,001753.OF,20220721,20220630,002756.SZ,16841123.24,110644.0,5.30,0.04
3,001753.OF,20220721,20220630,002192.SZ,15247040.00,99200.0,4.80,0.04
1,001753.OF,20220721,20220630,000625.SZ,13810656.24,797382.0,4.35,0.01
0,001753.OF,20220721,20220630,000408.SZ,13253079.60,402340.0,4.17,0.03
328,001753.OF,20220831,20220630,688156.SH,10775574.72,505184.0,3.39,0.72
230,001753.OF,20220831,20220630,600884.SH,9106208.00,306400.0,2.87,0.02
43,001753.OF,20220831,20220630,002129.SZ,8615607.00,146300.0,2.71,0.00
350,001753.OF,20220831,20220630,688320.SH,7977669.60,154606.0,2.51,0.50
76,001753.OF,20220831,20220630,300457.SZ,7309893.00,257300.0,2.30,0.05
354,001753.OF,20220831,20220630,688348.SH,6840296.00,14017.0,2.15,0.08
75,001753.OF,20220831,20220630,300450.SZ,5787288.00,91600.0,1.82,0.01
225,001753.OF,20220831,20220630,600323.SH,5193675.00,253350.0,1.64,0.03
52,001753.OF,20220831,20220630,002709.SZ,4912049.00,79150.0,1.55,0.01
86,001753.OF,20220831,20220630,300763.SZ,3663600.00,17200.0,1.15,0.01
360,001753.OF,20220831,20220630,688599.SH,3648127.50,55910.0,1.15,0.00
71,001753.OF,20220831,20220630,300390.SZ,3522220.00,40300.0,1.11,0.01
70,001753.OF,20220831,20220630,300274.SZ,3537000.00,36000.0,1.11,0.00
44,001753.OF,20220831,20220630,002240.SZ,3380160.00,56000.0,1.06,0.01

## 军工ETF

In [8]:
df = pro.fund_portfolio(ts_code='512660.SH') #证券ETF
df.query('end_date == "20220630"').sort_values(by='stk_mkv_ratio',ascending = 0)
# df

,ts_code,ann_date,end_date,symbol,mkv,amount,stk_mkv_ratio,stk_float_ratio
9,512660.SH,20220721,20220630,600893.SH,6.885413e+08,15129450.0,5.82,0.65
2,512660.SH,20220721,20220630,002179.SZ,5.755675e+08,9089822.0,4.86,0.60
0,512660.SH,20220721,20220630,000733.SZ,5.485125e+08,4034070.0,4.63,0.78
7,512660.SH,20220721,20220630,600760.SH,5.486881e+08,9076727.0,4.63,0.46
1,512660.SH,20220721,20220630,000768.SZ,4.888159e+08,16137863.0,4.13,0.58
...,...,...,...,...,...,...,...,...
69,512660.SH,20220830,20220630,301222.SZ,9.614720e+03,332.0,0.00,0.00
70,512660.SH,20220830,20220630,301238.SZ,1.121488e+05,3497.0,0.00,0.00
71,512660.SH,20220830,20220630,301239.SZ,1.933865e+05,5747.0,0.00,0.02
72,512660.SH,20220830,20220630,301263.SZ,2.140116e+04,682.0,0.00,0.00
102,512660.SH,20220830,20220630,688290.SH,1.424848e+05,3040.0,0.00,0.02

## 上证50eft

In [9]:
df = pro.fund_portfolio(ts_code='510050.SH') #证券ETF
df.query('end_date == "20220630"').sort_values(by='stk_mkv_ratio',ascending = 0)
# df

,ts_code,ann_date,end_date,symbol,mkv,amount,stk_mkv_ratio,stk_float_ratio
1,510050.SH,20220720,20220630,600519.SH,8.798081e+09,4302240.0,16.83,0.34
0,510050.SH,20220720,20220630,600036.SH,3.580432e+09,84844361.0,6.85,0.41
6,510050.SH,20220720,20220630,601318.SH,3.467315e+09,74262479.0,6.63,0.69
8,510050.SH,20220720,20220630,601012.SH,2.769368e+09,41563375.0,5.30,0.55
5,510050.SH,20220720,20220630,601166.SH,1.983757e+09,99686275.0,3.79,0.48
4,510050.SH,20220720,20220630,600900.SH,1.802284e+09,77953451.0,3.45,0.34
7,510050.SH,20220720,20220630,601888.SH,1.557102e+09,6684851.0,2.98,0.34
9,510050.SH,20220720,20220630,603259.SH,1.461519e+09,14054415.0,2.80,0.55
3,510050.SH,20220720,20220630,600030.SH,1.449263e+09,66909640.0,2.77,0.59
2,510050.SH,20220720,20220630,600887.SH,1.366932e+09,35094528.0,2.61,0.56
10,510050.SH,20220830,20220630,601398.SH,1.146057e+09,240263553.0,2.19,0.09
11,510050.SH,20220830,20220630,600276.SH,1.135345e+09,30610538.0,2.17,0.48
12,510050.SH,20220830,20220630,600438.SH,1.108598e+09,18519852.0,2.12,0.41
13,510050.SH,20220830,20220630,600809.SH,1.087790e+09,3349106.0,2.08,0.28
14,510050.SH,20220830,20220630,600309.SH,1.044286e+09,10766943.0,2.00,0.34
15,510050.SH,20220830,20220630,601899.SH,9.219410e+08,98814685.0,1.76,0.48
16,510050.SH,20220830,20220630,603288.SH,8.610834e+08,9529475.0,1.65,0.21
17,510050.SH,20220830,20220630,600048.SH,8.597100e+08,49238830.0,1.64,0.41
18,510050.SH,20220830,20220630,603799.SH,8.342148e+08,8724271.0,1.60,0.55
19,510050.SH,20220830,20220630,600031.SH,7.767325e+08,40751969.0,1.49,0.48
20,510050.SH,20220830,20220630,601668.SH,7.646399e+08,143729303.0,1.46,0.35
21,510050.SH,20220830,20220630,601088.SH,7.529917e+08,22612364.0,1.44,0.14
22,510050.SH,20220830,20220630,600436.SH,7.372371e+08,2066653.0,1.41,0.34
23,510050.SH,20220830,20220630,600690.SH,7.122777e+08,25938736.0,1.36,0.41
24,510050.SH,20220830,20220630,601288.SH,6.609048e+08,218842644.0,1.26,0.07
25,510050.SH,20220830,20220630,603986.SH,6.494576e+08,4566891.0,1.24,0.69
26,510050.SH,20220830,20220630,600837.SH,6.493634e+08,66194024.0,1.24,0.75
27,510050.SH,20220830,20220630,603501.SH,6.242985e+08,3608036.0,1.19,0.46
28,510050.SH,20220830,20220630,601919.SH,6.031685e+08,43393420.0,1.15,0.34
29,510050.SH,20220830,20220630,600585.SH,5.805960e+08,16456803.0,1.11,0.41
30,510050.SH,20220830,20220630,601688.SH,5.728960e+08,40344786.0,1.10,0.55
31,510050.SH,20220830,20220630,600104.SH,5.706404e+08,32040447.0,1.09,0.27
32,510050.SH,20220830,20220630,601601.SH,5.519492e+08,23457254.0,1.06,0.34
33,510050.SH,20220830,20220630,600111.SH,5.254959e+08,14945845.0,1.01,0.41
34,510050.SH,20220830,20220630,601211.SH,4.688601e+08,30846062.0,0.90,0.42
35,510050.SH,20220830,20220630,600745.SH,4.350430e+08,5111538.0,0.83,0.55
36,510050.SH,20220830,20220630,600893.SH,4.159401e+08,9139532.0,0.80,0.39
37,510050.SH,20220830,20220630,600028.SH,3.735170e+08,91548276.0,0.71,0.10
38,510050.SH,20220830,20220630,600905.SH,3.697048e+08,58776603.0,0.71,0.69
39,510050.SH,20220830,20220630,600010.SH,3.672230e+08,156265100.0,0.70,0.49
40,510050.SH,20220830,20220630,600196.SH,3.639654e+08,8255055.0,0.70,0.41
41,510050.SH,20220830,20220630,601628.SH,3.542158e+08,11396904.0,0.68,0.05
42,510050.SH,20220830,20220630,601857.SH,3.524219e+08,66494699.0,0.67,0.04
43,510050.SH,20220830,20220630,600570.SH,3.483081e+08,7999727.0,0.67,0.55
44,510050.SH,20220830,20220630,600346.SH,3.216242e+08,14461520.0,0.62,0.21
45,510050.SH,20220830,20220630,601633.SH,3.121473e+08,8427302.0,0.60,0.14
46,510050.SH,20220830,20220630,601066.SH,2.576061e+08,8910623.0,0.49,0.23
47,510050.SH,20220830,20220630,600588.SH,2.522429e+08,11618741.0,0.48,0.36
48,510050.SH,20220830,20220630,601995.SH,1.779694e+08,4000211.0,0.34,0.43
49,510050.SH,20220830,20220630,601728.SH,1.387878e+08,37208522.0,0.27,0.69
50,510050.SH,20220830,20220630,600941.SH,5.264494e+06,87363.0,0.01,0.02
51,510050.SH,20220830,20220630,600938.SH,1.332303e+06,84004.0,0.00,0.01
52,510050.SH,20220830,20220630,688326.SH,9.159662e+05,6832.0,0.00,0.03
53,510050.SH,20220830,20220630,688220.SH,8.485269e+05,12371.0,0.00,0.04
54,510050.SH,20220830,20220630,688176.SH,4.760147e+05,37990.0,0.00,0.04
55,510050.SH,20220830,20220630,688322.SH,2.643137e+05,8529.0,0.00,0.03
56,510050.SH,20220830,20220630,688125.SH,1.639048e+05,3774.0,0.00,0.02
57,510050.SH,20220830,20220630,688173.SH,1.339423e+05,4236.0,0.00,0.01
58,510050.SH,20220830,20220630,601089.SH,3.681645e+04,1749.0,0.00,0.00

## 沪深300etf

In [10]:
df = pro.fund_portfolio(ts_code='510300.SH') #证券ETF
df.query('end_date == "20220630"').sort_values(by='stk_mkv_ratio',ascending = 0)
# df

,ts_code,ann_date,end_date,symbol,mkv,amount,stk_mkv_ratio,stk_float_ratio
49,510300.SH,20220721,20220630,600519.SH,2.908131e+09,1422069.0,6.11,0.11
63,510300.SH,20220721,20220630,300750.SZ,1.699555e+09,3182687.0,3.57,0.16
50,510300.SH,20220721,20220630,600036.SH,1.184124e+09,28059802.0,2.49,0.14
61,510300.SH,20220721,20220630,601318.SH,1.145997e+09,24544806.0,2.41,0.23
56,510300.SH,20220721,20220630,601012.SH,9.153681e+08,13738077.0,1.92,0.18
...,...,...,...,...,...,...,...,...
191,510300.SH,20220830,20220630,301158.SZ,7.724020e+03,379.0,0.00,0.00
159,510300.SH,20220830,20220630,601089.SH,3.681645e+04,1749.0,0.00,0.00
160,510300.SH,20220830,20220630,301200.SZ,4.449544e+04,857.0,0.00,0.00
188,510300.SH,20220830,20220630,301279.SZ,6.751760e+03,296.0,0.00,0.00
173,510300.SH,20220830,20220630,301259.SZ,1.204602e+04,483.0,0.00,0.00

In [2]:
level_2_index = pro.index_classify(level='L2',src='SW2021')

In [3]:
level_2_index

    index_code industry_name level industry_code is_pub parent_code
0    801016.SI           种植业    L2        110100      1      110000
1    801015.SI            渔业    L2        110200      1      110000
2    801011.SI           林业Ⅱ    L2        110300      0      110000
3    801014.SI            饲料    L2        110400      1      110000
4    801012.SI         农产品加工    L2        110500      1      110000
..         ...           ...   ...           ...    ...         ...
129  801971.SI          环境治理    L2        760100      1      760000
130  801972.SI         环保设备Ⅱ    L2        760200      1      760000
131  801981.SI          个护用品    L2        770100      1      770000
132  801982.SI           化妆品    L2        770200      1      770000
133  801983.SI          医疗美容    L2        770300      0      770000

[134 rows x 6 columns]

In [11]:
index_all

    index_code industry_name level industry_code is_pub parent_code
0    801010.SI          农林牧渔    L1        110000      1           0
1    801030.SI          基础化工    L1        220000      1           0
2    801040.SI            钢铁    L1        230000      1           0
3    801050.SI          有色金属    L1        240000      1           0
4    801080.SI            电子    L1        270000      1           0
..         ...           ...   ...           ...    ...         ...
506  859812.SI          洗护用品    L3        770102      0      770100
507  859821.SI      化妆品制造及其他    L3        770201      1      770200
508  859822.SI         品牌化妆品    L3        770202      1      770200
509  859831.SI          医美耗材    L3        770301      0      770300
510  859832.SI          医美服务    L3        770302      0      770300

[511 rows x 6 columns]

In [2]:
dir(ts)

['MailMerge',
 'TraderAPI',
 '__author__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'bar',
 'bdi',
 'broker_tops',
 'cap_tops',
 'close_apis',
 'codecs',
 'coins',
 'coins_bar',
 'coins_snapshot',
 'coins_tick',
 'coins_trade',
 'day_boxoffice',
 'day_cinema',
 'forecast_data',
 'fund',
 'fund_holdings',
 'futures',
 'get_apis',
 'get_area_classified',
 'get_balance_sheet',
 'get_cash_flow',
 'get_cashflow_data',
 'get_cffex_daily',
 'get_concept_classified',
 'get_cpi',
 'get_czce_daily',
 'get_day_all',
 'get_dce_daily',
 'get_debtpaying_data',
 'get_deposit_rate',
 'get_fund_info',
 'get_future_daily',
 'get_gdp_contrib',
 'get_gdp_for',
 'get_gdp_pull',
 'get_gdp_quarter',
 'get_gdp_year',
 'get_gem_classified',
 'get_gold_and_foreign_reserves',
 'get_growth_data',
 'get_h_data',
 'get_hist_data',
 'get_hists',
 'get_hs300s',
 'get_index',
 'get_industry_classified',
 'get_instrument',
 'get_intlfuture',
 'get_k_data',
 'get_latest_news',
 'get_loan_rate',
 'get_markets',
 'get_money_supply',
 'get_money_supply_bal',
 'get_nav_close',
 'get_nav_grading',
 'get_nav_history',
 'get_nav_open',
 'get_notices',
 'get_operation_data',
 'get_ppi',
 'get_profit_data',
 'get_profit_statement',
 'get_realtime_quotes',
 'get_report_data',
 'get_rrr',
 'get_shfe_daily',
 'get_shfe_vwap',
 'get_sina_dd',
 'get_sme_classified',
 'get_st_classified',
 'get_stock_basics',
 'get_suspended',
 'get_sz50s',
 'get_terminated',
 'get_tick_data',
 'get_today_all',
 'get_today_ticks',
 'get_token',
 'get_zz500s',
 'global_realtime',
 'guba_sina',
 'inst_detail',
 'inst_tops',
 'internet',
 'is_holiday',
 'latest_content',
 'lpr_data',
 'lpr_ma_data',
 'margin_detail',
 'margin_offset',
 'margin_target',
 'margin_zsl',
 'moneyflow_hsgt',
 'month_boxoffice',
 'new_cbonds',
 'new_stocks',
 'notice_content',
 'os',
 'pledged_detail',
 'pro',
 'pro_api',
 'pro_bar',
 'profit_data',
 'profit_divis',
 'quotes',
 'realtime_boxoffice',
 'reset_instrument',
 'set_token',
 'sh_margin_details',
 'sh_margins',
 'shibor_data',
 'shibor_ma_data',
 'shibor_quote_data',
 'stock',
 'stock_issuance',
 'stock_pledged',
 'subs',
 'sz_margin_details',
 'sz_margins',
 'tick',
 'top10_holders',
 'top_list',
 'trade_cal',
 'trader',
 'util',
 'xsg_data']