In [1]:
import QUANTAXIS as QA
import pandas as pd
# import talib
import datetime

In [2]:
from numba import jit

In [3]:
# 写个指标 so easy
def ifup20(data):
    # QA内建指标计算 Python原生代码
    return (QA.MA(data.close, 5)-QA.MA(data.close, 20)).dropna() > 0

def ifup20_TA(data):
    # TA-lib计算
    return (TA_MA(data.close, 5)-TA_MA(data.close, 20)).dropna() > 0

In [4]:
idx_list = QA.QA_fetch_index_list_adv()

In [5]:
idx_code = idx_list['880301':].code
industry_code = idx_code['880301':'880497'].to_list()  #132  行业指数代码
concept_code = idx_code['880501':'880981'].to_list() #362   概念指数代码
idx_name = idx_list['880301':'880981'].name  #所有板块指数名称
#所有行业指数名
industry_name = idx_name['880301':'880497'] 
#所有概念指数名
concept_name = idx_name['880501':'880981']

In [6]:
industry_data = QA.QA_fetch_index_day_adv(industry_code,'2022-07-15','2022-07-15')

In [7]:
idx_name

code
880301        煤炭
880302      煤炭开采
880303      焦炭加工
880305        电力
880306      水力发电
           ...
880967      数字货币
880968      胎压监测
880969      无线耳机
880970      分拆预期
880981    TDX 能源
Name: name, Length: 494, dtype: object

In [8]:
all_industry_data = industry_data.data.droplevel(level=0).sort_values('amount',ascending=False)

In [9]:
pd.concat([all_industry_data,industry_name],axis=1)

,open,close,high,low,vol,amount,up_count,down_count,date_stamp,volume,name
code,,,,,,,,,,,
880446,2365.06,2352.00,2407.93,2352.00,700175.0,1.488008e+11,89,160,1.657814e+09,700175.0,电气设备
880390,2292.51,2317.70,2367.86,2291.32,591293.0,8.698075e+10,111,120,1.657814e+09,591293.0,汽车类
880335,2145.35,2123.20,2168.74,2123.20,466380.0,8.010907e+10,98,269,1.657814e+09,466380.0,化工
880324,986.87,976.66,1002.34,976.65,416931.0,6.177614e+10,31,96,1.657814e+09,416931.0,有色
880400,2235.55,2192.64,2250.71,2192.64,325770.0,5.705162e+10,34,235,1.657814e+09,325770.0,医药
...,...,...,...,...,...,...,...,...,...,...,...
880313,1073.14,1056.39,1081.92,1053.70,6025.0,4.467032e+08,0,7,1.657814e+09,6025.0,石油贸易
880412,626.59,612.08,627.51,611.91,8766.0,4.401384e+08,0,4,1.657814e+09,8766.0,商品城
880453,952.10,934.13,954.81,930.65,6381.0,4.010337e+08,1,5,1.657814e+09,6381.0,公共交通
880363,843.64,832.32,851.34,831.29,4536.0,2.209626e+08,2,2,1.657814e+09,4536.0,林业
880409,248.56,245.07,250.32,244.48,4878.0,1.646747e+08,1,1,1.657814e+09,4878.0,电器连锁

概念指数

In [10]:
concept_data = QA.QA_fetch_index_day_adv(concept_code,'2022-07-15','2022-07-15')

In [11]:
all_concept_data = concept_data.data.droplevel(level=0).sort_values('amount',ascending=False)

In [12]:
pd.concat([all_concept_data,concept_name],axis=1)

,open,close,high,low,vol,amount,up_count,down_count,date_stamp,volume,name
code,,,,,,,,,,,
880821,1663.32,1645.66,1680.63,1645.66,1224093.0,2.788157e+11,34.0,164.0,1.657814e+09,1224093.0,大盘股
880883,1386.96,1370.52,1400.09,1370.52,1664490.0,2.762124e+11,44.0,267.0,1.657814e+09,1664490.0,MSCI成份
880534,2901.82,2873.34,2950.59,2873.34,910162.0,1.934394e+11,90.0,212.0,1.657814e+09,910162.0,锂电池
880801,2154.21,2134.02,2184.08,2134.02,451154.0,1.917428e+11,21.0,79.0,1.657814e+09,451154.0,基金重仓
880951,1623.02,1617.27,1658.68,1617.27,977659.0,1.868514e+11,151.0,226.0,1.657814e+09,977659.0,新能源车
...,...,...,...,...,...,...,...,...,...,...,...
880777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,罗素小盘
880925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,特钢
880928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,抗流感
880937,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,网贷概念
880963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,华为概念

In [19]:
# hs300 = blk.get_block('沪深300').code

In [22]:
today = datetime.date.today()

In [16]:
from QUANTAXIS.QAUtil import trade_date_sse

In [17]:
import datetime as dt

In [23]:
dt.datetime.strptime(trade_date_sse[0],'%Y-%m-%d').date()
today

datetime.date(2022, 8, 21)

In [25]:
new_trade_date = [x for x in filter(lambda x:dt.datetime.strptime(x,'%Y-%m-%d').date()<=today,trade_date_sse)]

In [26]:
new_trade_date[-3]

'2022-08-17'

In [14]:
# data = QA.QA_fetch_stock_day_adv(hs300,'2020-01-01','2020-09-14')
data = QA.QA_fetch_stock_day_adv('000001','2021-01-01','2021-02-01')

In [41]:
# 获取所有股票列表
cn_stk_list = QA.QA_fetch_stock_list()
# 排除ST和退市股
cn_stk_list = cn_stk_list[~cn_stk_list['name'].str.contains('ST|退')]
# 获取20天交易日
#     today= datetime.date.today()
last_working_day = datetime.date.today()
delta = datetime.timedelta(days=3)
start = (today - delta).strftime('%Y-%m-%d')
end = today.strftime('%Y-%m-%d')
code_list = cn_stk_list.code.to_list()
stk_day_all = QA.QA_fetch_stock_day_adv(code_list,new_trade_date[-3],new_trade_date[-1]).to_qfq()

QA Error QA_fetch_stock_day_adv parameter code=['000001', '000002', '000004', '000005', '000006', '000007', '000008', '000009', '000010', '000011', '000012', '000014', '000016', '000019', '000020', '000021', '000023', '000025', '000026', '000027', '000028', '000029', '000030', '000031', '000032', '000034', '000035', '000036', '000037', '000038', '000039', '000040', '000042', '000045', '000046', '000048', '000049', '000050', '000055', '000056', '000058', '000059', '000060', '000061', '000062', '000063', '000065', '000066', '000068', '000069', '000070', '000078', '000088', '000089', '000090', '000096', '000099', '000100', '000150', '000151', '000153', '000155', '000156', '000157', '000158', '000159', '000166', '000301', '000333', '000338', '000400', '000401', '000402', '000403', '000404', '000407', '000411', '000413', '000415', '000416', '000417', '000419', '000420', '000421', '000423', '000425', '000426', '000428', '000429', '000430', '000488', '000498', '000501', '000502', '000503', '000505', '000506', '000507', '000510', '000513', '000514', '000516', '000517', '000518', '000519', '000520', '000521', '000523', '000524', '000525', '000526', '000528', '000529', '000530', '000531', '000532', '000533', '000534', '000537', '000538', '000539', '000540', '000541', '000543', '000544', '000545', '000546', '000547', '000548', '000550', '000551', '000552', '000553', '000554', '000555', '000557', '000558', '000559', '000560', '000561', '000563', '000565', '000566', '000567', '000568', '000570', '000573', '000576', '000581', '000582', '000584', '000586', '000589', '000590', '000591', '000592', '000593', '000596', '000597', '000598', '000599', '000600', '000601', '000603', '000605', '000606', '000607', '000608', '000609', '000610', '000612', '000613', '000615', '000616', '000617', '000619', '000620', '000622', '000623', '000625', '000626', '000627', '000628', '000629', '000630', '000631', '000632', '000633', '000635', '000636', '000637', '000638', '000639', '000650', '000651', '000652', '000655', '000656', '000657', '000659', '000661', '000665', '000666', '000667', '000668', '000671', '000672', '000676', '000677', '000678', '000680', '000681', '000682', '000683', '000685', '000686', '000688', '000690', '000691', '000692', '000695', '000697', '000698', '000700', '000701', '000702', '000703', '000705', '000708', '000709', '000710', '000711', '000712', '000713', '000715', '000716', '000717', '000718', '000719', '000720', '000721', '000722', '000723', '000725', '000726', '000728', '000729', '000731', '000732', '000733', '000735', '000736', '000738', '000739', '000750', '000751', '000753', '000755', '000756', '000757', '000758', '000759', '000761', '000762', '000766', '000767', '000768', '000776', '000777', '000778', '000779', '000782', '000783', '000785', '000786', '000788', '000789', '000790', '000791', '000793', '000795', '000796', '000797', '000798', '000799', '000800', '000801', '000802', '000803', '000807', '000809', '000810', '000811', '000812', '000813', '000815', '000816', '000818', '000819', '000821', '000822', '000823', '000825', '000826', '000828', '000829', '000830', '000831', '000833', '000836', '000838', '000839', '000848', '000850', '000851', '000852', '000856', '000858', '000859', '000860', '000861', '000862', '000863', '000869', '000875', '000876', '000877', '000878', '000880', '000881', '000882', '000883', '000885', '000886', '000887', '000888', '000889', '000892', '000893', '000895', '000897', '000898', '000899', '000900', '000901', '000902', '000903', '000905', '000906', '000908', '000909', '000910', '000911', '000912', '000913', '000915', '000917', '000918', '000919', '000920', '000921', '000922', '000923', '000925', '000926', '000927', '000928', '000929', '000930', '000931', '000932', '000933', '000935', '000936', '000937', '000938', '000948', '000949', '000950', '000951', '000952', '000955', '000957', '000958', '000959', '000960', '000961', '000962', '000963', '000965', '000966', '000967', '000968', '000969', '000970', '000973', '000975', '000976', '000977', '000978', '000983', '000985', '000987', '000988', '000989', '000990', '000993', '000995', '000996', '000997', '000998', '000999', '001696', '001872', '001896', '001914', '001965', '001979', '002001', '002002', '002003', '002004', '002006', '002007', '002008', '002009', '002010', '002011', '002012', '002013', '002014', '002015', '002016', '002017', '002019', '002020', '002022', '002023', '002024', '002025', '002026', '002027', '002028', '002029', '002030', '002031', '002032', '002033', '002034', '002035', '002036', '002037', '002038', '002039', '002040', '002041', '002042', '002043', '002044', '002045', '002046', '002047', '002048', '002049', '002050', '002051', '002053', '002054', '002055', '002056', '002057', '002058', '002059', '002060', '002061', '002062', '002063', '002064', '002065', '002066', '002067', '002068', '002069', '002073', '002074', '002075', '002078', '002079', '002080', '002081', '002082', '002083', '002084', '002085', '002087', '002088', '002090', '002091', '002092', '002093', '002094', '002095', '002096', '002097', '002098', '002099', '002100', '002101', '002103', '002104', '002105', '002106', '002107', '002108', '002109', '002110', '002111', '002112', '002114', '002115', '002116', '002117', '002118', '002119', '002120', '002123', '002124', '002125', '002126', '002127', '002128', '002129', '002130', '002131', '002132', '002133', '002134', '002135', '002136', '002137', '002138', '002139', '002140', '002141', '002142', '002144', '002145', '002146', '002148', '002149', '002150', '002151', '002152', '002153', '002154', '002155', '002156', '002157', '002158', '002159', '002160', '002161', '002162', '002163', '002164', '002165', '002166', '002167', '002169', '002170', '002171', '002172', '002173', '002174', '002177', '002178', '002179', '002180', '002181', '002182', '002183', '002184', '002185', '002186', '002187', '002189', '002190', '002191', '002193', '002194', '002195', '002196', '002197', '002198', '002199', '002201', '002202', '002203', '002204', '002205', '002206', '002207', '002208', '002209', '002211', '002212', '002213', '002214', '002215', '002216', '002217', '002218', '002221', '002222', '002223', '002224', '002225', '002226', '002227', '002228', '002229', '002230', '002231', '002232', '002233', '002234', '002235', '002236', '002237', '002238', '002239', '002240', '002241', '002242', '002243', '002244', '002245', '002246', '002248', '002249', '002250', '002251', '002252', '002253', '002254', '002258', '002261', '002262', '002263', '002264', '002265', '002266', '002267', '002268', '002269', '002270', '002271', '002272', '002273', '002274', '002275', '002276', '002277', '002278', '002279', '002281', '002282', '002283', '002284', '002285', '002286', '002287', '002288', '002291', '002292', '002293', '002294', '002295', '002296', '002297', '002298', '002299', '002300', '002301', '002302', '002303', '002304', '002305', '002307', '002308', '002309', '002310', '002311', '002312', '002313', '002314', '002315', '002316', '002317', '002318', '002320', '002321', '002322', '002324', '002325', '002326', '002327', '002328', '002329', '002330', '002331', '002332', '002334', '002335', '002337', '002338', '002339', '002340', '002341', '002342', '002343', '002344', '002345', '002346', '002347', '002348', '002349', '002350', '002351', '002352', '002353', '002355', '002357', '002358', '002360', '002361', '002362', '002363', '002364', '002365', '002366', '002367', '002368', '002369', '002370', '002371', '002372', '002373', '002374', '002375', '002376', '002377', '002378', '002379', '002380', '002381', '002382', '002383', '002384', '002385', '002386', '002387', '002388', '002389', '002390', '002391', '002392', '002393', '002394', '002395', '002396', '002397', '002398', '002399', '002400', '002401', '002402', '002403', '002404', '002405', '002406', '002407', '002408', '002409', '002410', '002411', '002412', '002413', '002414', '002415', '002416', '002417', '002419', '002421', '002422', '002423', '002424', '002425', '002428', '002429', '002430', '002431', '002432', '002433', '002434', '002435', '002436', '002437', '002438', '002439', '002440', '002441', '002442', '002443', '002444', '002446', '002448', '002449', '002451', '002452', '002453', '002454', '002455', '002456', '002457', '002458', '002459', '002460', '002461', '002462', '002463', '002464', '002465', '002466', '002467', '002468', '002469', '002471', '002472', '002474', '002475', '002476', '002478', '002479', '002480', '002481', '002482', '002483', '002484', '002485', '002486', '002487', '002488', '002489', '002490', '002491', '002492', '002493', '002494', '002495', '002497', '002498', '002500', '002503', '002504', '002505', '002506', '002507', '002508', '002510', '002511', '002512', '002514', '002515', '002516', '002517', '002518', '002519', '002520', '002521', '002522', '002523', '002524', '002526', '002527', '002528', '002530', '002531', '002532', '002533', '002534', '002536', '002537', '002538', '002539', '002540', '002541', '002542', '002543', '002544', '002545', '002546', '002547', '002548', '002549', '002550', '002551', '002552', '002553', '002554', '002555', '002556', '002557', '002558', '002559', '002560', '002561', '002562', '002563', '002564', '002565', '002566', '002567', '002568', '002570', '002571', '002572', '002573', '002574', '002576', '002577', '002578', '002579', '002580', '002581', '002582', '002583', '002584', '002585', '002587', '002588', '002589', '002590', '002591', '002593', '002594', '002595', '002596', '002597', '002598', '002599', '002600', '002601', '002602', '002603', '002605', '002606', '002607', '002608', '002609', '002610', '002611', '002612', '002613', '002614', '002615', '002616', '002617', '002618', '002619', '002620', '002621', '002622', '002623', '002624', '002625', '002626', '002627', '002628', '002630', '002631', '002632', '002633', '002634', '002635', '002636', '002637', '002639', '002640', '002641', '002642', '002643', '002644', '002645', '002646', '002647', '002648', '002649', '002651', '002652', '002653', '002654', '002655', '002657', '002658', '002659', '002660', '002661', '002662', '002663', '002664', '002665', '002666', '002667', '002668', '002669', '002670', '002671', '002672', '002673', '002674', '002675', '002676', '002677', '002678', '002679', '002682', '002683', '002685', '002686', '002687', '002688', '002689', '002690', '002691', '002693', '002694', '002695', '002696', '002697', '002698', '002699', '002701', '002702', '002703', '002705', '002706', '002707', '002708', '002709', '002710', '002712', '002713', '002714', '002715', '002717', '002718', '002720', '002721', '002722', '002723', '002724', '002725', '002726', '002727', '002728', '002729', '002730', '002731', '002732', '002733', '002734', '002735', '002736', '002737', '002738', '002739', '002740', '002741', '002742', '002743', '002745', '002746', '002747', '002748', '002749', '002750', '002751', '002752', '002753', '002755', '002756', '002757', '002758', '002759', '002760', '002761', '002762', '002763', '002765', '002767', '002768', '002769', '002771', '002772', '002773', '002774', '002775', '002776', '002777', '002778', '002779', '002780', '002781', '002782', '002783', '002785', '002786', '002787', '002788', '002789', '002790', '002791', '002792', '002793', '002795', '002796', '002797', '002798', '002799', '002800', '002801', '002802', '002803', '002805', '002806', '002807', '002808', '002809', '002810', '002811', '002812', '002813', '002815', '002816', '002817', '002818', '002819', '002820', '002821', '002822', '002823', '002824', '002825', '002826', '002827', '002828', '002829', '002830', '002831', '002832', '002833', '002835', '002836', '002837', '002838', '002839', '002840', '002841', '002842', '002843', '002845', '002846', '002847', '002848', '002849', '002850', '002851', '002852', '002853', '002855', '002856', '002857', '002858', '002859', '002860', '002861', '002862', '002863', '002864', '002865', '002866', '002867', '002868', '002869', '002870', '002871', '002873', '002875', '002876', '002877', '002878', '002879', '002880', '002881', '002882', '002883', '002884', '002885', '002886', '002887', '002888', '002889', '002890', '002891', '002892', '002893', '002895', '002896', '002897', '002898', '002899', '002900', '002901', '002902', '002903', '002905', '002906', '002907', '002908', '002909', '002910', '002911', '002912', '002913', '002915', '002916', '002917', '002918', '002919', '002920', '002921', '002922', '002923', '002925', '002926', '002927', '002928', '002929', '002930', '002931', '002932', '002933', '002935', '002936', '002937', '002938', '002939', '002940', '002941', '002942', '002943', '002945', '002946', '002947', '002948', '002949', '002950', '002951', '002952', '002953', '002955', '002956', '002957', '002958', '002959', '002960', '002961', '002962', '002963', '002965', '002966', '002967', '002968', '002969', '002970', '002971', '002972', '002973', '002975', '002976', '002977', '002978', '002979', '002980', '002981', '002982', '002983', '002984', '002985', '002986', '002987', '002988', '002989', '002990', '002991', '002992', '002993', '002995', '002996', '002997', '002998', '002999', '003000', '003001', '003002', '003003', '003004', '003005', '003006', '003007', '003008', '003009', '003010', '003011', '003012', '003013', '003015', '003016', '003017', '003018', '003019', '003020', '003021', '003022', '003023', '003025', '003026', '003027', '003028', '003029', '003030', '003031', '003032', '003033', '003035', '003036', '003037', '003038', '003039', '003040', '003816', '300001', '300002', '300003', '300004', '300005', '300006', '300007', '300008', '300009', '300010', '300011', '300012', '300013', '300014', '300015', '300016', '300017', '300018', '300019', '300020', '300021', '300022', '300023', '300024', '300025', '300026', '300027', '300030', '300031', '300032', '300033', '300034', '300035', '300036', '300037', '300039', '300040', '300041', '300042', '300043', '300044', '300045', '300046', '300047', '300048', '300049', '300050', '300051', '300052', '300053', '300054', '300055', '300056', '300057', '300058', '300059', '300061', '300062', '300063', '300065', '300066', '300067', '300068', '300069', '300070', '300071', '300072', '300073', '300074', '300075', '300076', '300077', '300078', '300079', '300080', '300081', '300082', '300083', '300084', '300085', '300086', '300087', '300088', '300089', '300091', '300092', '300093', '300094', '300095', '300096', '300097', '300098', '300099', '300100', '300101', '300102', '300103', '300105', '300106', '300107', '300108', '300109', '300110', '300111', '300112', '300113', '300114', '300115', '300116', '300117', '300118', '300119', '300120', '300121', '300122', '300123', '300124', '300125', '300126', '300127', '300128', '300129', '300130', '300131', '300132', '300133', '300134', '300135', '300136', '300137', '300138', '300139', '300140', '300141', '300142', '300143', '300144', '300145', '300146', '300147', '300148', '300149', '300150', '300151', '300152', '300153', '300154', '300155', '300157', '300158', '300159', '300160', '300161', '300162', '300163', '300164', '300165', '300166', '300167', '300168', '300169', '300170', '300171', '300172', '300173', '300174', '300175', '300176', '300177', '300178', '300179', '300180', '300181', '300182', '300183', '300184', '300185', '300187', '300188', '300189', '300190', '300191', '300192', '300193', '300194', '300195', '300196', '300197', '300198', '300199', '300200', '300201', '300202', '300203', '300204', '300205', '300206', '300207', '300208', '300209', '300210', '300211', '300212', '300213', '300214', '300215', '300217', '300218', '300219', '300220', '300221', '300222', '300223', '300224', '300225', '300226', '300227', '300228', '300229', '300230', '300231', '300232', '300233', '300234', '300235', '300236', '300237', '300238', '300239', '300240', '300241', '300242', '300243', '300244', '300245', '300246', '300247', '300248', '300249', '300250', '300251', '300252', '300253', '300254', '300255', '300256', '300257', '300258', '300259', '300260', '300261', '300262', '300263', '300264', '300265', '300266', '300267', '300268', '300269', '300270', '300271', '300272', '300273', '300274', '300275', '300276', '300277', '300278', '300279', '300280', '300281', '300282', '300283', '300284', '300285', '300286', '300287', '300288', '300289', '300290', '300291', '300292', '300293', '300294', '300295', '300296', '300297', '300298', '300299', '300300', '300301', '300302', '300303', '300304', '300305', '300306', '300307', '300308', '300309', '300310', '300311', '300312', '300313', '300314', '300315', '300316', '300317', '300318', '300319', '300320', '300321', '300322', '300323', '300324', '300326', '300327', '300328', '300329', '300330', '300331', '300332', '300333', '300334', '300335', '300336', '300337', '300338', '300339', '300340', '300341', '300342', '300343', '300344', '300345', '300346', '300347', '300348', '300349', '300350', '300351', '300352', '300353', '300354', '300355', '300356', '300357', '300358', '300359', '300360', '300362', '300363', '300364', '300365', '300366', '300368', '300369', '300370', '300371', '300373', '300374', '300375', '300376', '300377', '300378', '300379', '300380', '300381', '300382', '300383', '300384', '300385', '300386', '300387', '300388', '300389', '300390', '300391', '300392', '300393', '300394', '300395', '300396', '300397', '300398', '300399', '300400', '300401', '300402', '300403', '300404', '300405', '300406', '300407', '300408', '300409', '300410', '300411', '300412', '300413', '300414', '300415', '300416', '300417', '300418', '300419', '300420', '300421', '300422', '300423', '300424', '300425', '300426', '300427', '300428', '300429', '300430', '300432', '300433', '300434', '300435', '300436', '300437', '300438', '300439', '300440', '300441', '300442', '300443', '300444', '300445', '300447', '300448', '300449', '300450', '300451', '300452', '300453', '300454', '300455', '300456', '300457', '300458', '300459', '300460', '300461', '300462', '300463', '300464', '300465', '300466', '300467', '300468', '300469', '300470', '300471', '300472', '300473', '300474', '300475', '300476', '300477', '300478', '300479', '300480', '300481', '300482', '300483', '300484', '300485', '300486', '300487', '300488', '300489', '300490', '300491', '300492', '300493', '300494', '300495', '300496', '300497', '300498', '300499', '300500', '300501', '300502', '300503', '300504', '300505', '300506', '300507', '300508', '300509', '300510', '300511', '300512', '300513', '300514', '300515', '300516', '300517', '300518', '300519', '300520', '300521', '300522', '300523', '300525', '300526', '300527', '300528', '300529', '300530', '300531', '300532', '300533', '300534', '300535', '300536', '300537', '300538', '300539', '300540', '300541', '300542', '300543', '300545', '300546', '300547', '300548', '300549', '300550', '300551', '300552', '300553', '300554', '300555', '300556', '300557', '300558', '300559', '300560', '300561', '300562', '300563', '300564', '300565', '300566', '300567', '300568', '300569', '300570', '300571', '300572', '300573', '300575', '300576', '300577', '300578', '300579', '300580', '300581', '300582', '300583', '300584', '300585', '300586', '300587', '300588', '300589', '300590', '300591', '300592', '300593', '300594', '300595', '300596', '300597', '300598', '300599', '300600', '300601', '300602', '300603', '300604', '300605', '300606', '300607', '300608', '300609', '300610', '300611', '300612', '300613', '300615', '300616', '300617', '300618', '300619', '300620', '300621', '300622', '300623', '300624', '300625', '300626', '300627', '300628', '300629', '300630', '300631', '300632', '300633', '300634', '300635', '300636', '300637', '300638', '300639', '300640', '300641', '300642', '300643', '300644', '300645', '300647', '300648', '300649', '300650', '300651', '300652', '300653', '300654', '300655', '300656', '300657', '300658', '300659', '300660', '300661', '300662', '300663', '300664', '3

AttributeError: 'NoneType' object has no attribute 'to_qfq'

In [40]:
end

'2021-03-17'

In [39]:
stk_day_all.data

                    open   high    low  close    volume        amount  \
date       code
2021-03-17 000001  21.45  21.55  20.90  21.20  821488.0  1.738186e+09
           000002  32.65  33.43  32.36  32.71  718970.0  2.355351e+09
           000004  17.32  17.87  17.22  17.84   19183.0  3.374356e+07
           000005   2.34   2.36   2.27   2.31  148405.0  3.418110e+07
           000006   5.41   5.75   5.38   5.59  356609.0  2.002771e+08
...                  ...    ...    ...    ...       ...           ...
           600468   4.31   4.32   4.19   4.25  110140.0  4.680246e+07
           600469   5.52   5.54   5.42   5.44   64082.0  3.502232e+07
           600475  13.90  13.90  13.52  13.58   98076.0  1.341091e+08
           600476  10.06  10.07   9.89   9.94   10636.0  1.059948e+07
           600477   4.27   4.29   4.20   4.22  194763.0  8.240518e+07

                   preclose  adj
date       code
2021-03-17 000001       NaN  1.0
           000002       NaN  1.0
           000004       NaN  1.0
           000005       NaN  1.0
           000006       NaN  1.0
...                     ...  ...
           600468       NaN  1.0
           600469       NaN  1.0
           600475       NaN  1.0
           600476       NaN  1.0
           600477       NaN  1.0

[2549 rows x 8 columns]

In [43]:
QA.QA_fetch_stock_day('000001','2020-01-01','2021-01-01')

array(None, dtype=object)

# 计算基础数据

In [214]:
def cacl_base_data(data):
    temp = {
        'open':data.open,
        'high':data.high,
        'low': data.low,
        'close': data.close,
        'volume': data.volume,
        'amount':data.amount
    }
    #多日涨幅  统计过去1，2，3，4，5，6，7，8，9天的涨幅
    drzf = {'zf{}'.format(i): data.close.pct_change(i)*100 for i in range(10)[1:10]}
    temp.update(drzf)
    
    #多日emas
    emas = {'ema{}'.format(n): QA.EMA(data.close,n) for n in [5,10,15,20,30,40,60,80,100,120,240]}
    temp.update(emas)
    
    #多日波动幅度
    mazf = {'mazf{}'.format(n): QA.MA(data.close.pct_change(1)*100,n) for n in [5,10,15,20,30,40,60,80,100,120,240]}
    temp.update(mazf)
    
    #量能均值
    mavol = {'mavol{}'.format(n): QA.MA(data.volume,n) for n in [10,20,60,120,240]}
    temp.update(mavol)
    
    #成交额均线
    maamo = {'maamo{}'.format(n): QA.MA(data.amount,n) for n in [10,20,60,120,240]}
    temp.update(maamo)
    
    return pd.DataFrame(temp)

In [215]:
start_time = datetime.datetime.now()
stk_day_all.apply(lambda x:cacl_base_data(x))
end_time = datetime.datetime.now()
print(end_time - start_time)

0:00:00.640221

# 选择妖股

In [223]:
def f(data):
#     return pd.DataFrame({'zf{}'.format(i): data.close.pct_change(i)*100 for i in range(10)[1:10]})
    return pd.DataFrame({'zf1': data.close.pct_change(1)*100,'zf2': data.close.pct_change(2)*100,'zf3': data.close.pct_change(3)*100})

In [224]:
start_time = datetime.datetime.now()
ind_base_data = stk_day_all.add_func(f)  #84sec
# stk_day_all.apply(lambda x:f(x))
#涨幅最大的20只
tt = ind_base_data.loc['2021-03-05'].max(axis=1).sort_values(ascending=False).head(20)
end_time = datetime.datetime.now()
print(end_time - start_time)

0:00:12.371899

In [234]:
start_time = datetime.datetime.now()
test = stk_day_all.close.groupby(level=1).apply(lambda x:x.pct_change())
end_time = datetime.datetime.now()
print(end_time - start_time)

0:00:02.475387

In [242]:
# %time stk_day_all.close.groupby(level=1).apply(lambda x:x.pct_change())

Wall time: 2.81 s

date        code
2021-02-18  000001         NaN
            000002         NaN
            000004         NaN
            000005         NaN
            000006         NaN
                        ...
2021-03-15  688777   -0.053763
            688788   -0.033625
            688819   -0.024326
            688981   -0.034304
            689009   -0.046135
Name: close, Length: 71504, dtype: float64

In [238]:
start_time = datetime.datetime.now()
tt = stk_day_all.groupby(level=1)['close'].pct_change()
end_time = datetime.datetime.now()
print(end_time - start_time)

0:00:00.021941

In [246]:
%time stk_day_all.groupby(level=1)['close'].pct_change(3)

Wall time: 19.9 ms

date        code
2021-02-18  000001         NaN
            000002         NaN
            000004         NaN
            000005         NaN
            000006         NaN
                        ...
2021-03-15  688777   -0.057963
            688788   -0.036735
            688819    0.014354
            688981    0.017710
            689009   -0.010880
Name: close, Length: 71504, dtype: float64

## 传入整个Datastruct

In [292]:
#多日涨幅
def drzf(data):
    return pd.DataFrame(zip(data.groupby(level=1)['close'].pct_change(1),\
                            data.groupby(level=1)['close'].pct_change(2),
                           data.groupby(level=1)['close'].pct_change(3),
                           data.groupby(level=1)['close'].pct_change(4),
                           data.groupby(level=1)['close'].pct_change(5),
                           data.groupby(level=1)['close'].pct_change(6),
                           data.groupby(level=1)['close'].pct_change(7),),index=data.index)

In [293]:
%time stk_day_all.apply(lambda x:drzf(x))
# delta=26 192 ms
# delta = 150  1.08 s

d:\ProgramData\Anaconda3\lib\site-packages\QUANTAXIS\QAData\base_datastruct.py:841: FutureWarning: The `squeeze` parameter is deprecated and will be removed in a future version.
  return self.data.groupby(

Wall time: 1.08 s

                          0         1         2         3         4         5  \
date       code
2020-10-19 000001       NaN       NaN       NaN       NaN       NaN       NaN
           000002       NaN       NaN       NaN       NaN       NaN       NaN
           000004       NaN       NaN       NaN       NaN       NaN       NaN
           000005       NaN       NaN       NaN       NaN       NaN       NaN
           000006       NaN       NaN       NaN       NaN       NaN       NaN
...                     ...       ...       ...       ...       ...       ...
2021-03-15 688777 -0.053763 -0.071180 -0.057963 -0.050151 -0.100249 -0.148253
           688788 -0.033625 -0.036553 -0.036735 -0.051552 -0.090633 -0.119134
           688819 -0.024326  0.006557  0.014354  0.015279  0.000449 -0.023898
           688981 -0.034304 -0.035473  0.017710  0.021253 -0.016237 -0.047505
           689009 -0.046135 -0.024921 -0.010880  0.001620 -0.061627 -0.131985

                          6
date       code
2020-10-19 000001       NaN
           000002       NaN
           000004       NaN
           000005       NaN
           000006       NaN
...                     ...
2021-03-15 688777 -0.172287
           688788 -0.112061
           688819 -0.017219
           688981 -0.060192
           689009 -0.126466

[390167 rows x 7 columns]

## Using QA MA

In [317]:
def MAs(data):
    return pd.DataFrame(zip(data.close,
                            QA.MA(data.close,5),
                           QA.MA(data.close,10),
                           QA.MA(data.close,15),
                           QA.MA(data.close,20),
                           QA.MA(data.close,30),
                           QA.MA(data.close,40),
                           QA.MA(data.close,60),
                           QA.MA(data.close,80),
                           QA.MA(data.amount,5),
                           QA.MA(data.amount,20),
                           QA.MA(data.amount,120)),index=data.index)
#     return pd.DataFrame(QA.MA(data.close,5))

In [319]:
%time stk_day_all.add_func(MAs)

d:\ProgramData\Anaconda3\lib\site-packages\QUANTAXIS\QAData\base_datastruct.py:841: FutureWarning: The `squeeze` parameter is deprecated and will be removed in a future version.
  return self.data.groupby(

Wall time: 13 s

                       0        1        2           3         4           5   \
date       code
2020-10-19 000001   17.48      NaN      NaN         NaN       NaN         NaN
           000002   27.74      NaN      NaN         NaN       NaN         NaN
           000004   25.85      NaN      NaN         NaN       NaN         NaN
           000005    2.67      NaN      NaN         NaN       NaN         NaN
           000006    6.22      NaN      NaN         NaN       NaN         NaN
...                   ...      ...      ...         ...       ...         ...
2021-03-15 688777   72.16   75.736   81.637   82.487333   83.0140   83.613000
           688788  101.74  105.102  109.967  114.175333  116.8510  117.483333
           688819   44.52   44.424   44.801   44.930667   45.3595   46.893667
           688981   55.74   56.120   57.225   57.080000   56.8880   56.438000
           689009   61.82   62.850   66.752   69.440000   75.2565   83.445667

                          6           7           8             9   \
date       code
2020-10-19 000001        NaN         NaN         NaN           NaN
           000002        NaN         NaN         NaN           NaN
           000004        NaN         NaN         NaN           NaN
           000005        NaN         NaN         NaN           NaN
           000006        NaN         NaN         NaN           NaN
...                      ...         ...         ...           ...
2021-03-15 688777   87.73375   91.996500         NaN  1.113700e+08
           688788  118.75625  133.861667  155.719250  4.512277e+07
           688819        NaN         NaN         NaN  1.979900e+08
           688981   57.53575   57.303000   58.069625  1.426625e+09
           689009   84.34600   82.039167   79.906125  1.445535e+08

                             10  11
date       code
2020-10-19 000001           NaN NaN
           000002           NaN NaN
           000004           NaN NaN
           000005           NaN NaN
           000006           NaN NaN
...                         ...  ..
2021-03-15 688777  1.427675e+08 NaN
           688788  6.185034e+07 NaN
           688819  2.593116e+08 NaN
           688981  1.764530e+09 NaN
           689009  2.214262e+08 NaN

[390167 rows x 12 columns]

In [301]:
%time stk_day_all.close.groupby(level=1).apply(lambda x:x.rolling(5).mean())

Wall time: 3.49 s

date        code
2020-10-19  000001        NaN
            000002        NaN
            000004        NaN
            000005        NaN
            000006        NaN
                       ...
2021-03-15  688777     75.736
            688788    105.102
            688819     44.424
            688981     56.120
            689009     62.850
Name: close, Length: 390167, dtype: float64

In [305]:
%time stk_day_all.groupby(level=1)['close'].apply(lambda x:x.rolling(60).mean())

Wall time: 2.82 s

date        code
2020-10-19  000001           NaN
            000002           NaN
            000004           NaN
            000005           NaN
            000006           NaN
                         ...
2021-03-15  688777     91.996500
            688788    133.861667
            688819           NaN
            688981     57.303000
            689009     82.039167
Name: close, Length: 390167, dtype: float64

In [311]:
# QA vs min
# 6.76 s vs 13.7 s
# def MAs(data):
#     return pd.DataFrame(zip(data.groupby(level=1)['close'].apply(lambda x:x.rolling(5).mean()),
#                            data.groupby(level=1)['close'].apply(lambda x:x.rolling(10).mean()),
#                            data.groupby(level=1)['close'].apply(lambda x:x.rolling(15).mean()),
#                            data.groupby(level=1)['close'].apply(lambda x:x.rolling(20).mean())),index=data.index)

In [312]:
# %time stk_day_all.apply(lambda x:MAs(x))

d:\ProgramData\Anaconda3\lib\site-packages\QUANTAXIS\QAData\base_datastruct.py:841: FutureWarning: The `squeeze` parameter is deprecated and will be removed in a future version.
  return self.data.groupby(

Wall time: 13.7 s

                         0        1           2         3
date       code
2020-10-19 000001      NaN      NaN         NaN       NaN
           000002      NaN      NaN         NaN       NaN
           000004      NaN      NaN         NaN       NaN
           000005      NaN      NaN         NaN       NaN
           000006      NaN      NaN         NaN       NaN
...                    ...      ...         ...       ...
2021-03-15 688777   75.736   81.637   82.487333   83.0140
           688788  105.102  109.967  114.175333  116.8510
           688819   44.424   44.801   44.930667   45.3595
           688981   56.120   57.225   57.080000   56.8880
           689009   62.850   66.752   69.440000   75.2565

[390167 rows x 4 columns]

In [282]:
def MAs(data):
    return data.rolling(5).mean(),data.rolling(10).mean(),data.rolling(15).mean()

In [283]:
# %time stk_day_all.groupby(level=1)['close'].apply(lambda x:x.rolling(5).mean())  #1.96 s
%time stk_day_all.groupby(level=1)['close'].apply(lambda x:MAs(x))

Wall time: 2.19 s

code
000001    ([nan, nan, nan, nan, 22.924, 22.482, 21.988, ...
000002    ([nan, nan, nan, nan, 29.916000000000004, 30.5...
000004    ([nan, nan, nan, nan, 18.682, 18.848, 18.91399...
000005    ([nan, nan, nan, nan, 2.084, 2.112, 2.13000000...
000006    ([nan, nan, nan, nan, 5.1240000000000006, 5.20...
                                ...
688676    ([nan, nan, nan, nan, 20.014000000000003], [na...
605122    ([nan, nan, nan, nan], [nan, nan, nan, nan], [...
300952    ([nan, nan, nan], [nan, nan, nan], [nan, nan, ...
688083    ([nan, nan, nan], [nan, nan, nan], [nan, nan, ...
688667                 ([nan, nan], [nan, nan], [nan, nan])
Name: close, Length: 3994, dtype: object

## 传入groupby dataset

In [255]:
def drzf(data):
    return pd.DataFrame(zip(*(data.pct_change(i) for i in range(10)[1:])))

In [257]:
%time stk_day_all.groupby(level=1)['close'].apply(lambda x:drzf(x))

d:\ProgramData\Anaconda3\lib\site-packages\QUANTAXIS\QAData\base_datastruct.py:841: FutureWarning: The `squeeze` parameter is deprecated and will be removed in a future version.
  return self.data.groupby(

Wall time: 15.1 s

           0         1         2         3   4   5   6   7   8
0        NaN       NaN       NaN       NaN NaN NaN NaN NaN NaN
1  -0.018519       NaN       NaN       NaN NaN NaN NaN NaN NaN
2  -0.061635 -0.079012       NaN       NaN NaN NaN NaN NaN NaN
3  -0.020107 -0.080503 -0.097531       NaN NaN NaN NaN NaN NaN
4   0.010488 -0.009830 -0.070860 -0.088066 NaN NaN NaN NaN NaN
..       ...       ...       ...       ...  ..  ..  ..  ..  ..
0        NaN       NaN       NaN       NaN NaN NaN NaN NaN NaN
1   0.097800       NaN       NaN       NaN NaN NaN NaN NaN NaN
2  -0.109310 -0.022200       NaN       NaN NaN NaN NaN NaN NaN
0        NaN       NaN       NaN       NaN NaN NaN NaN NaN NaN
1  -0.172771       NaN       NaN       NaN NaN NaN NaN NaN NaN

[71504 rows x 9 columns]

In [218]:
ind_base_data.loc['2021-03-05'].max(axis=1).sort_values(ascending=False).head(20)

date        code
2021-03-05  002647    102.551020
            603222     84.362934
            603126     77.454545
            300234     73.076923
            300312     66.190476
            688059     65.456013
            601038     63.606911
            600010     57.575758
            002658     55.787476
            688308     54.871795
            601127     54.075547
            300293     44.675325
            600295     43.646409
            300022     41.646489
            002378     41.085271
            600714     40.892193
            002636     39.610390
            603032     37.692308
            300722     34.524089
            002554     33.484163
dtype: float64

In [168]:
stk_day_all.apply(lambda x:f(x))

                          zf1         zf2         zf3         zf4         zf5  \
date       code
2021-02-18 000001         NaN         NaN         NaN         NaN         NaN
           000002   23.497942         NaN         NaN         NaN         NaN
           000004  -40.086638  -26.008230         NaN         NaN         NaN
           000005  -88.932147  -93.368877  -91.810700         NaN         NaN
           000006  150.251256  -72.302558  -83.405531  -79.506173         NaN
...                       ...         ...         ...         ...         ...
2021-03-15 688777  307.453416  -83.784270  217.745487  181.654957  -43.975155
           688788   40.992239  474.477696  -77.137079  347.996477  297.111632
           688819  -56.241400  -38.303769  151.383399  -89.995506   96.036988
           688981   25.202156  -45.213289  -22.754989  214.737436  -87.474157
           689009   10.907786   38.858940  -39.237271  -14.329268  249.068323

                          zf6         zf7         zf8         zf9
date       code
2021-02-18 000001         NaN         NaN         NaN         NaN
           000002         NaN         NaN         NaN         NaN
           000004         NaN         NaN         NaN         NaN
           000005         NaN         NaN         NaN         NaN
           000006         NaN         NaN         NaN         NaN
...                       ...         ...         ...         ...
2021-03-15 688777  378.197482  269.293756   -1.823129  300.666297
           688788  -21.009317  574.221339  420.675537   38.421769
           688819   73.770492  -65.434783  195.029821  127.840328
           688981  145.442536  117.564403  -56.723602  269.383698
           689009  -86.107865  172.214883  141.295863  -52.003106

[71504 rows x 9 columns]

In [23]:
def drzf(data):
    temp = {
        'open':data.open,
        'high':data.high,
        'low': data.low,
        'close': data.close,
        'volume': data.volume,
        'amount':data.amount
    }
    #多日涨幅  统计过去1，2，3，4，5，6，7，8，9天的涨幅
#     drzf = {'zf{}'.format(i): data.close.pct_change(i)*100 for i in range(10)[1:10]}
    drzf = {'zf1': data.close.pct_change(1)*100 }
    temp.update(drzf)
    return pd.DataFrame(temp)

## 低效率

In [12]:
%%timeit
stk_day_all = QA.QA_fetch_stock_day_adv(code_list,start,end)
ind_base_data = stk_day_all.add_func(drzf)
#涨幅最大的20只
ind_base_data.loc['2021-03-05'].max(axis=1).sort_values(ascending=False).head(20)

d:\ProgramData\Anaconda3\lib\site-packages\QUANTAXIS\QAData\base_datastruct.py:841: FutureWarning: The `squeeze` parameter is deprecated and will be removed in a future version.
  return self.data.groupby(

44.1 s ± 564 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [15]:
start_time = datetime.datetime.now()
stk_day_all = QA.QA_fetch_stock_day_adv(code_list,start,end)
ind_base_data = stk_day_all.add_func(drzf)
#涨幅最大的20只
tt = ind_base_data.loc['2021-03-05'].max(axis=1).sort_values(ascending=False).head(20)
end_time = datetime.datetime.now()
end_time - start_time

d:\ProgramData\Anaconda3\lib\site-packages\QUANTAXIS\QAData\base_datastruct.py:841: FutureWarning: The `squeeze` parameter is deprecated and will be removed in a future version.
  return self.data.groupby(

datetime.timedelta(seconds=45, microseconds=140500)

In [28]:
stk_day_all.data

                     open    high     low   close     volume        amount
date       code
2021-02-18 000001   24.00   24.55   23.48   24.30  1505230.0  3.619388e+09
           000002   28.95   30.13   28.95   30.01   996922.0  2.956989e+09
           000004   17.21   18.07   17.21   17.98    23204.0  4.136155e+07
           000005    1.91    1.99    1.91    1.99    64388.0  1.259473e+07
           000006    4.88    5.02    4.88    4.98    70781.0  3.511906e+07
...                   ...     ...     ...     ...        ...           ...
2021-03-15 688777   75.80   75.80   71.00   72.16    17443.0  1.268197e+08
           688788  105.20  105.79  101.17  101.74     4391.0  4.510496e+07
           688819   45.81   45.83   44.30   44.52    43681.0  1.958270e+08
           688981   57.20   57.20   55.40   55.74   226351.0  1.272870e+09
           689009   65.78   66.88   60.51   61.82    22240.0  1.428158e+08

[71504 rows x 6 columns]

# 使用Numba加速

In [106]:
# @jit(nopython=True)
# def f(sn):
#     return pd.DataFrame(sn.pct_change(),index=sn.index,columns=['zf1'])
# #     return pd.DataFrame(zip(sn.pct_change(i) for i in range(10)))

In [107]:
# start_time = datetime.datetime.now()
# stk_day_all.apply(lambda x:f(x.close))
# end_time = datetime.datetime.now()
# print(end_time - start_time)

# 生产基础数据

## 多日涨幅

In [181]:
# sn.pct_change(1),sn.pct_change(2),sn.pct_change(3),sn.pct_change(4),sn.pct_change(5),sn.pct_change(6)
def drzf(sn):
    return pd.DataFrame(zip(*(sn.pct_change(n) for n in range(7)[1:])),index=sn.index,columns=['zf{}'.format(i) for i in range(7)[1:]])
#     return pd.DataFrame(zip(sn.pct_change(1),sn.pct_change(2),sn.pct_change(3),sn.pct_change(4),sn.pct_change(5),sn.pct_change(6)),index=sn.index,columns=['zf{}'.format(i) for i in range(7)[1:]])
#     return pd.DataFrame(zip(sn.pct_change(i) for i in range(10)))

In [182]:
# base_data = 
stk_day_all.apply(lambda x:drzf(x.close))

                        zf1       zf2       zf3       zf4       zf5       zf6
date       code
2021-02-18 000001       NaN       NaN       NaN       NaN       NaN       NaN
           000002  0.234979       NaN       NaN       NaN       NaN       NaN
           000004 -0.400866 -0.260082       NaN       NaN       NaN       NaN
           000005 -0.889321 -0.933689 -0.918107       NaN       NaN       NaN
           000006  1.502513 -0.723026 -0.834055 -0.795062       NaN       NaN
...                     ...       ...       ...       ...       ...       ...
2021-03-15 688777  3.074534 -0.837843  2.177455  1.816550 -0.439752  3.781975
           688788  0.409922  4.744777 -0.771371  3.479965  2.971116 -0.210093
           688819 -0.562414 -0.383038  1.513834 -0.899955  0.960370  0.737705
           688981  0.252022 -0.452133 -0.227550  2.147374 -0.874742  1.454425
           689009  0.109078  0.388589 -0.392373 -0.143293  2.490683 -0.861079

[71504 rows x 6 columns]

In [176]:
base_data.loc['2021-03-05'].max(axis=1).sort_values(ascending=False).head(20)

date        code
2021-03-05  600519    729.535461
            601888    172.795455
            600763    113.661836
            600809    108.045614
            000661    107.809278
            688169     90.762115
            000596     77.760870
            000858     68.041451
            600436     67.665854
            600309     64.742515
            000568     62.555556
            002371     59.660000
            000799     59.588496
            002594     53.547222
            603236     51.452026
            600745     49.308057
            300751     48.123768
            002304     47.624324
            601799     46.415617
            002352     46.365854
dtype: float64

In [145]:
# performance checking
start_time = datetime.datetime.now()
stk_day_all.apply(lambda x:drzf(x.close))
end_time = datetime.datetime.now()
print(end_time - start_time)
# 00.179523

0:00:00.181549

# emas

In [212]:
def emas(data):
    return pd.DataFrame({'ema5':QA.EMA(data.close,5)})
#多日emas
#     return pd.DataFrame({'ema{}'.format(n): QA.EMA(data.close,n) for n in [5,10,15,20,30,40,60,80,100,120,240]})

In [206]:
stk_day_all.close

date        code
2021-02-18  000001     24.30
            000002     30.01
            000004     17.98
            000005      1.99
            000006      4.98
                       ...
2021-03-15  688777     72.16
            688788    101.74
            688819     44.52
            688981     55.74
            689009     61.82
Name: close, Length: 71504, dtype: float64

In [151]:
start_time = datetime.datetime.now()
test = stk_day_all.apply(lambda x:emas(x))
end_time = datetime.datetime.now()
print(end_time - start_time)

0:00:00.288775

In [213]:
stk_day_all.apply(lambda x:emas(x)).loc['2021-03-15	']

                         ema5
date       code
2021-03-15 000001   55.480510
           000002   47.467007
           000004   37.331338
           000005   25.644225
           000006   18.859483
...                       ...
           688777  106.288514
           688788  104.772343
           688819   84.688229
           688981   75.038819
           689009   70.632546

[3902 rows x 1 columns]

## 平均涨幅

In [178]:
def mazf(data):
#多日波动幅度
    return pd.DataFrame({'mazf{}'.format(n): QA.MA(QA.ABS(data.close.pct_change(1)*100),n) for n in [5,10,15,20,30,40,60,80,100,120,240]})

In [163]:
start_time = datetime.datetime.now()
stk_day_all.apply(lambda x:mazf(x))
end_time = datetime.datetime.now()
print(end_time - start_time)

0:00:00.170544

In [179]:
stk_day_all.apply(lambda x:mazf(x))

                        mazf5      mazf10      mazf15      mazf20      mazf30  \
date       code
2021-02-18 000001         NaN         NaN         NaN         NaN         NaN
           000002         NaN         NaN         NaN         NaN         NaN
           000004         NaN         NaN         NaN         NaN         NaN
           000005         NaN         NaN         NaN         NaN         NaN
           000006         NaN         NaN         NaN         NaN         NaN
...                       ...         ...         ...         ...         ...
2021-03-15 688777  470.885972  356.509933  265.538084  214.971227  215.183404
           688788  463.062681  355.326287  263.730399  215.569368  216.056313
           688819  472.039298  330.139766  258.073513  214.523949  216.363215
           688981  105.181887  325.318485  254.049152  213.683563  215.722985
           689009   88.159400  324.131884  249.777147  213.413205  207.075332

                       mazf40      mazf60      mazf80     mazf100     mazf120  \
date       code
2021-02-18 000001         NaN         NaN         NaN         NaN         NaN
           000002         NaN         NaN         NaN         NaN         NaN
           000004         NaN         NaN         NaN         NaN         NaN
           000005         NaN         NaN         NaN         NaN         NaN
           000006         NaN         NaN         NaN         NaN         NaN
...                       ...         ...         ...         ...         ...
2021-03-15 688777  199.512431  178.635882  164.573926  159.267334  148.771692
           688788  199.391403  177.868521  164.237673  159.474608  147.761085
           688819  199.844264  177.886077  164.037655  158.074120  147.680841
           688981  199.037866  176.970833  161.589607  156.485738  145.162968
           689009  197.992355  175.169027  160.994926  155.837792  144.626336

                      mazf240
date       code
2021-02-18 000001         NaN
           000002         NaN
           000004         NaN
           000005         NaN
           000006         NaN
...                       ...
2021-03-15 688777  173.077941
           688788  173.122843
           688819  172.009633
           688981  172.034381
           689009  171.826968

[71504 rows x 11 columns]

In [177]:
# ind_base_data = stk_day_all.add_func(drzf)

In [130]:
#涨幅最大的20只
ind_base_data.loc['2021-03-05'].max(axis=1).sort_values(ascending=False).head(20)

date        code
2021-03-05  002647    102.551020
            603222     84.362934
            603126     77.454545
            300234     73.076923
            300312     66.190476
            688059     65.456013
            601038     63.606911
            600010     57.575758
            002658     55.787476
            688308     54.871795
dtype: float64

In [131]:
# 跌幅最大的20只
ind_base_data.loc['2021-03-05'].min(axis=1).sort_values(ascending=True).head(20)

date        code
2021-03-05  300948   -36.629934
            300945   -36.611374
            300949   -33.256881
            603799   -32.865787
            600763   -31.932894
            688619   -31.670504
            003038   -29.525399
            605133   -29.063205
            300595   -27.415144
            300951   -26.923077
            605077   -26.686707
            300896   -26.536313
            688179   -26.345756
            603338   -25.854786
            600438   -25.816733
            002597   -25.450902
            601015   -25.306893
            002460   -25.089360
            600989   -24.926829
            601899   -24.812030
dtype: float64

In [202]:
sample = QA.QA_fetch_stock_day_adv(['000001','000002'],start,end).to_qfq()
# sample = QA.QA_fetch_stock_day_adv('000001',start,end).to_qfq()
sample.close.pct_change()

date        code
2021-02-18  000001         NaN
            000002    0.234979
2021-02-19  000001   -0.205265
            000002    0.251153
2021-02-22  000001   -0.250000
            000002    0.328418
2021-02-23  000001   -0.262361
            000002    0.368445
2021-02-24  000001   -0.261579
            000002    0.353339
2021-02-25  000001   -0.263421
            000002    0.493436
2021-02-26  000001   -0.351925
            000002    0.548176
2021-03-01  000001   -0.351964
            000002    0.554779
2021-03-02  000001   -0.350825
            000002    0.537644
2021-03-03  000001   -0.308801
            000002    0.455889
2021-03-04  000001   -0.315821
            000002    0.426265
2021-03-05  000001   -0.316611
            000002    0.411817
2021-03-08  000001   -0.315155
            000002    0.444444
2021-03-09  000001   -0.331731
            000002    0.487770
2021-03-10  000001   -0.342360
            000002    0.504412
2021-03-11  000001   -0.306940
            000002    0.464504
2021-03-12  000001   -0.310433
            000002    0.466015
2021-03-15  000001   -0.314068
            000002    0.455556
Name: close, dtype: float64

QUANTAXIS.QAData.QADataStruct.QA_DataStruct_Stock_day

# 选择板块

In [83]:
QA.

SyntaxError: invalid syntax (<ipython-input-83-3708913aa175>, line 1)

In [17]:
import QUANTAXIS as QA

#获取全市场股票 list格式
code  = QA.QA_fetch_stock_list_adv().code.tolist()

# 获取全市场数据 QADataStruct格式

data =  QA.QA_fetch_stock_day_adv(code,  '2019-11-01','2020-01-06')

# 写个指标 so easy
def ifup20(data):
    return (data.close-QA.MA(data.close, 20)).dropna() > 0

# apply到 QADataStruct上

ind = data.add_func(ifup20)

# 对于指标groupby 日期 求和

ind.dropna().groupby(level=0).sum()

date
2019-11-28     978.0
2019-11-29    1031.0
2019-12-02    1101.0
2019-12-03    1423.0
2019-12-04    1583.0
2019-12-05    2164.0
2019-12-06    2508.0
2019-12-09    2618.0
2019-12-10    2651.0
2019-12-11    2558.0
2019-12-12    2272.0
2019-12-13    2809.0
2019-12-16    3228.0
2019-12-17    3446.0
2019-12-18    3452.0
2019-12-19    3476.0
2019-12-20    3353.0
2019-12-23    2366.0
2019-12-24    2933.0
2019-12-25    2867.0
2019-12-26    3021.0
2019-12-27    2774.0
2019-12-30    2716.0
2019-12-31    2861.0
2020-01-02    3271.0
2020-01-03    3298.0
2020-01-06    3266.0
Name: close, dtype: float64

In [34]:
t=ind['2020-01-06']
t[t==True]

code
000001    True
000002    True
000004    True
000005    True
000006    True
000008    True
000009    True
000010    True
000011    True
000012    True
000014    True
000016    True
000017    True
000019    True
000020    True
000021    True
000023    True
000025    True
000026    True
000027    True
000028    True
000030    True
000031    True
000032    True
000036    True
000040    True
000042    True
000045    True
000046    True
000048    True
          ...
688023    True
688128    True
688199    True
688202    True
688389    True
300800    True
688021    True
688288    True
688299    True
688363    True
300080    True
300749    True
688166    True
002453    True
002542    True
300796    True
688101    True
688300    True
300803    True
688138    True
300805    True
688196    True
601916    True
688310    True
688358    True
002323    True
688357    True
688399    True
300810    True
688198    True
Name: close, Length: 3266, dtype: bool

In [1]:
#!/usr/bin/env python3

import datetime
import os

import pandas as pd

import QUANTAXIS as QA

# code_list = QA.QA_fetch_stock_list().index.tolist()
code_list = ["000001", "600000"]
current_date = str(datetime.date.today())
current_daily_bar = pd.DataFrame()
# 前置数据时间点
start_date = QA.QA_util_get_pre_trade_date(current_date, n=100)
# 前置数据准备
daily_data = QA.QA_fetch_stock_day_adv(
    code=code_list, start=start_date, end=current_date
).to_qfq()

# 方便计算，数据转换为相应透视数据
closes = daily_data.pivot("close")
highs = daily_data.pivot("high")
lows = daily_data.pivot("low")


def get_short_strength(
    highs: pd.DataFrame, lows: pd.DataFrame, closes: pd.DataFrame, period: int = 27
) -> pd.Series:
    """
    计算空方力量

    :param highs: high 透视数据
    :param closes: close 透视数据
    :param period: 周期
    """
    A = highs.apply(QA.HHV, N=period, axis=0)
    B = lows.apply(QA.LLV, N=period, axis=0)
    return 100 * (A.iloc[-1] - closes.ffill().iloc[-1]) / (A.iloc[-1] - B.iloc[-1])


def get_long_strength(
    highs: pd.DataFrame, lows: pd.DataFrame, closes: pd.DataFrame, period: int = 27
) -> pd.Series:
    """
    计算多方力量
    """
    A = highs.apply(QA.HHV, N=period, axis=0)
    B = lows.apply(QA.LLV, N=period, axis=0)
    C = ((closes - B) / (A - B)).apply(QA.QAIndicator.base.SMA, N=5, M=1, axis=0) * 100
    return (3 * C - 2 * C.apply(QA.QAIndicator.base.SMA, N=3, M=1)).iloc[-1]


def get_RSV(
    highs: pd.DataFrame, lows: pd.DataFrame, closes: pd.DataFrame, period: int = 30
) -> pd.DataFrame:
    """
    计算 RSV 值
    """
    return (
        100
        * (closes - lows.apply(QA.LLV, N=period, axis=0))
        / (highs.apply(QA.HHV, N=period, axis=0) - lows.apply(QA.LLV, N=period, axis=0))
    )


def get_KDJ(
    highs: pd.DataFrame,
    lows: pd.DataFrame,
    closes: pd.DataFrame,
    period: int = 30,
    M1: int = 3,
    M2: int = 3,
) -> dict:
    """
    获取 KDJ 值
    """
    RSV = get_RSV(highs, lows, closes, period)
    KDJ_K = RSV.apply(QA.QAIndicator.base.SMA, N=3, M=1, axis=0)
    KDJ_D = KDJ_K.apply(QA.QAIndicator.base.SMA, N=3, M=1, axis=0)
    KDJ_J = 3 * KDJ_K - 2 * KDJ_D
    return {"KDJ_K": KDJ_K, "KDJ_D": KDJ_D, "KDJ_J": KDJ_J}