In [10]:
import QUANTAXIS as QA
import pandas as pd
# import talib
import datetime

In [2]:
# 写个指标 so easy
def ifup20(data):
    # QA内建指标计算 Python原生代码
    return (QA.MA(data.close, 5)-QA.MA(data.close, 20)).dropna() > 0

def ifup20_TA(data):
    # TA-lib计算
    return (TA_MA(data.close, 5)-TA_MA(data.close, 20)).dropna() > 0

In [4]:
blk = QA.QA_fetch_stock_block_adv()

In [5]:
hs300 = blk.get_block('沪深300').code

In [21]:
today = datetime.date.today().strftime('%Y-%m-%d')

In [22]:
today

'2021-03-08'

In [42]:
# data = QA.QA_fetch_stock_day_adv(hs300,'2020-01-01','2020-09-14')
data = QA.QA_fetch_stock_day_adv('000001','2020-01-01',today).to_qfq()

In [24]:
def drzf(data): #多日涨幅  统计过去1，2，3，4，5，6，7，8，9天的涨幅
    
    temp = {
        'open':data.open,
        'high':data.high,
        'low': data.low,
        'close': data.close,
        'volume': data.volume
    }
    #多日涨幅  统计过去1，2，3，4，5，6，7，8，9天的涨幅
    y = {'close{}'.format(i): data.close.pct_change(i) for i in range(10)} 
    temp.update(y)
    return pd.DataFrame(temp)

In [66]:
def all_para(data):
    temp = {
        'open':data.open,
        'high':data.high,
        'low': data.low,
        'close': data.close,
        'volume': data.volume
    }
    #多日涨幅  统计过去1，2，3，4，5，6，7，8，9天的涨幅
    drzf = {'zf{}'.format(i): data.close.pct_change(i)*100 for i in range(10)[1:10]}
    temp.update(drzf)
    
    #多日emas
    emas = {'ema{}'.format(n): QA.EMA(data.close,n) for n in [5,10,15,20,30,40,60,80,100,120,240]}
    temp.update(emas)
    
    #多日波动幅度
    mazf = {'mazf{}'.format(n): QA.MA(data.close.pct_change(1)*100,n) for n in [5,10,15,20,30,40,60,80,100,120,240]}
    temp.update(mazf)
    
    #量能均值
    mavol = {'mavol{}'.format(n): QA.MA(data.volume,n) for n in [10,60,240]}
    temp.update(mavol)
    
    #成交额均线
    maamo = {'maamo{}'.format(n): QA.MA(data.volume*data.close,n) for n in [10,60,240]}
    temp.update(maamo)
    
    return pd.DataFrame(temp)

In [67]:
ind = data.add_func(all_para)

In [68]:
ind.shape[1]

42

In [69]:
ind

,,open,high,low,close,volume,zf1,zf2,zf3,zf4,zf5,...,mazf80,mazf100,mazf120,mazf240,mavol10,mavol60,mavol240,maamo10,maamo60,maamo240
date,code,,,,,,,,,,,,,,,,,,,,,
2020-01-02,000001,16.370792,16.665762,16.272469,16.587103,1530231.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-03,000001,16.655929,17.019725,16.636265,16.891905,1116194.0,1.837582,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-06,000001,16.724755,17.049222,16.626432,16.783749,862083.0,-0.640279,1.185536,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-07,000001,16.842743,16.990228,16.665762,16.862408,728607.0,0.468658,-0.174622,1.659751,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-08,000001,16.714923,16.764085,16.351128,16.380625,847824.0,-2.857143,-2.401875,-3.026775,-1.244813,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-01,000001,21.540000,21.680000,21.180000,21.450000,1125386.0,0.327409,-2.897239,-3.203971,-2.188782,-4.155496,...,0.270753,0.381613,0.358513,0.192124,1438834.0,1.211348e+06,1.184614e+06,3.273034e+07,2.567696e+07,1.940742e+07
2021-03-02,000001,21.620000,22.150000,21.260000,21.650000,1473425.0,0.932401,1.262862,-1.991852,-2.301444,-1.276790,...,0.290859,0.386307,0.327671,0.176154,1491967.2,1.209548e+06,1.179559e+06,3.360464e+07,2.568833e+07,1.937094e+07
2021-03-03,000001,21.580000,23.080000,21.460000,23.010000,1919635.0,6.281755,7.272727,7.623948,4.164780,3.835740,...,0.345983,0.441225,0.382772,0.212074,1492044.0,1.220479e+06,1.182438e+06,3.345098e+07,2.600222e+07,1.947934e+07
2021-03-04,000001,22.770000,23.490000,22.650000,22.920000,1213579.0,-0.391134,5.866051,6.853147,7.202993,3.757356,...,0.316039,0.470625,0.376197,0.226524,1462878.9,1.225883e+06,1.180554e+06,3.257479e+07,2.617483e+07,1.949663e+07
2021-03-05,000001,22.700000,22.980000,21.860000,22.340000,880171.0,-2.530541,-2.911777,3.187067,4.149184,4.490178,...,0.326710,0.420319,0.345202,0.207041,1458637.7,1.228645e+06,1.179356e+06,3.234074e+07,2.626987e+07,1.950794e+07

In [17]:
import QUANTAXIS as QA

#获取全市场股票 list格式
code  = QA.QA_fetch_stock_list_adv().code.tolist()

# 获取全市场数据 QADataStruct格式

data =  QA.QA_fetch_stock_day_adv(code,  '2019-11-01','2020-01-06')

# 写个指标 so easy
def ifup20(data):
    return (data.close-QA.MA(data.close, 20)).dropna() > 0

# apply到 QADataStruct上

ind = data.add_func(ifup20)

# 对于指标groupby 日期 求和

ind.dropna().groupby(level=0).sum()

date
2019-11-28     978.0
2019-11-29    1031.0
2019-12-02    1101.0
2019-12-03    1423.0
2019-12-04    1583.0
2019-12-05    2164.0
2019-12-06    2508.0
2019-12-09    2618.0
2019-12-10    2651.0
2019-12-11    2558.0
2019-12-12    2272.0
2019-12-13    2809.0
2019-12-16    3228.0
2019-12-17    3446.0
2019-12-18    3452.0
2019-12-19    3476.0
2019-12-20    3353.0
2019-12-23    2366.0
2019-12-24    2933.0
2019-12-25    2867.0
2019-12-26    3021.0
2019-12-27    2774.0
2019-12-30    2716.0
2019-12-31    2861.0
2020-01-02    3271.0
2020-01-03    3298.0
2020-01-06    3266.0
Name: close, dtype: float64

In [34]:
t=ind['2020-01-06']
t[t==True]

code
000001    True
000002    True
000004    True
000005    True
000006    True
000008    True
000009    True
000010    True
000011    True
000012    True
000014    True
000016    True
000017    True
000019    True
000020    True
000021    True
000023    True
000025    True
000026    True
000027    True
000028    True
000030    True
000031    True
000032    True
000036    True
000040    True
000042    True
000045    True
000046    True
000048    True
          ...
688023    True
688128    True
688199    True
688202    True
688389    True
300800    True
688021    True
688288    True
688299    True
688363    True
300080    True
300749    True
688166    True
002453    True
002542    True
300796    True
688101    True
688300    True
300803    True
688138    True
300805    True
688196    True
601916    True
688310    True
688358    True
002323    True
688357    True
688399    True
300810    True
688198    True
Name: close, Length: 3266, dtype: bool

In [1]:
#!/usr/bin/env python3

import datetime
import os

import pandas as pd

import QUANTAXIS as QA

# code_list = QA.QA_fetch_stock_list().index.tolist()
code_list = ["000001", "600000"]
current_date = str(datetime.date.today())
current_daily_bar = pd.DataFrame()
# 前置数据时间点
start_date = QA.QA_util_get_pre_trade_date(current_date, n=100)
# 前置数据准备
daily_data = QA.QA_fetch_stock_day_adv(
    code=code_list, start=start_date, end=current_date
).to_qfq()

# 方便计算，数据转换为相应透视数据
closes = daily_data.pivot("close")
highs = daily_data.pivot("high")
lows = daily_data.pivot("low")


def get_short_strength(
    highs: pd.DataFrame, lows: pd.DataFrame, closes: pd.DataFrame, period: int = 27
) -> pd.Series:
    """
    计算空方力量

    :param highs: high 透视数据
    :param closes: close 透视数据
    :param period: 周期
    """
    A = highs.apply(QA.HHV, N=period, axis=0)
    B = lows.apply(QA.LLV, N=period, axis=0)
    return 100 * (A.iloc[-1] - closes.ffill().iloc[-1]) / (A.iloc[-1] - B.iloc[-1])


def get_long_strength(
    highs: pd.DataFrame, lows: pd.DataFrame, closes: pd.DataFrame, period: int = 27
) -> pd.Series:
    """
    计算多方力量
    """
    A = highs.apply(QA.HHV, N=period, axis=0)
    B = lows.apply(QA.LLV, N=period, axis=0)
    C = ((closes - B) / (A - B)).apply(QA.QAIndicator.base.SMA, N=5, M=1, axis=0) * 100
    return (3 * C - 2 * C.apply(QA.QAIndicator.base.SMA, N=3, M=1)).iloc[-1]


def get_RSV(
    highs: pd.DataFrame, lows: pd.DataFrame, closes: pd.DataFrame, period: int = 30
) -> pd.DataFrame:
    """
    计算 RSV 值
    """
    return (
        100
        * (closes - lows.apply(QA.LLV, N=period, axis=0))
        / (highs.apply(QA.HHV, N=period, axis=0) - lows.apply(QA.LLV, N=period, axis=0))
    )


def get_KDJ(
    highs: pd.DataFrame,
    lows: pd.DataFrame,
    closes: pd.DataFrame,
    period: int = 30,
    M1: int = 3,
    M2: int = 3,
) -> dict:
    """
    获取 KDJ 值
    """
    RSV = get_RSV(highs, lows, closes, period)
    KDJ_K = RSV.apply(QA.QAIndicator.base.SMA, N=3, M=1, axis=0)
    KDJ_D = KDJ_K.apply(QA.QAIndicator.base.SMA, N=3, M=1, axis=0)
    KDJ_J = 3 * KDJ_K - 2 * KDJ_D
    return {"KDJ_K": KDJ_K, "KDJ_D": KDJ_D, "KDJ_J": KDJ_J}