In [1]:
import QUANTAXIS as QA
import pandas as pd
import tushare as ts
import numpy as np
# import TA-Lib as ta
import scipy.signal as signal
import matplotlib.pyplot as plt

In [2]:
import tushare as ts
token = "488917d460bca13177c0b510492fc5fc04d0629bc76cc32a4f73fcf0"
ts.set_token(token)
pro = ts.pro_api()

In [3]:
import xlrd

In [4]:
all_stock_basic_raw = pd.read_csv(r"20220903.csv",encoding='utf-8-sig')[:-1]

In [15]:
all_stock_basic_raw.columns

Index(['代码', '名称', '涨幅%', '涨速%', '现价', '市盈(动)', '行业PE', '细分行业', '所属行业',
       'AB股总市值',
       ...
       '毛利率%', '营业利润率%', '净利润率%', '研发费用(亿)', '员工人数', '交易代码', '自选日', '自选价',
       '自选收益%', 'ab_mv_raw'],
      dtype='object', length=118)

In [5]:
all_stock_basic_raw.loc[:,'ab_mv_raw'] = all_stock_basic_raw['AB股总市值'].map(lambda x: x.strip().replace('亿',''))

In [8]:
all_stock_basic = all_stock_basic_raw[all_stock_basic_raw['ab_mv_raw'] != '--']

In [9]:
all_stock_basic.loc[:,'parent_industry'] = all_stock_basic['所属行业'].map(lambda x: x.strip().split('-')[0])

In [10]:
all_stock_basic.loc[:,'child_industry'] = all_stock_basic['所属行业'].map(lambda x: x.strip().split('-')[1])

In [11]:
all_stock_basic.loc[:,('ab_mv')] = all_stock_basic['ab_mv_raw'].map(lambda x: pd.to_numeric(x))

In [57]:
# blk_mv = pd.DataFrame(all_stock_basic.groupby(['细分行业'])['ab_mv'].sum().sort_values(ascending=False)).rename(columns={'ab_mv':'blk_mv'})

In [85]:
%time all_stock_basic.groupby(['细分行业'])['ab_mv'].agg(['sum','count'])

Wall time: 3 ms

           sum  count
细分行业
IT设备   4114.45     44
专用机械  17882.27    217
中成药    9537.79     74
乳制品    3098.00     16
互联网    6330.30     78
...        ...    ...
银行    64237.23     42
陶瓷      619.91      7
食品    14605.57     88
饲料     3197.15     18
黄金     2363.23     13

[110 rows x 2 columns]

In [87]:
blk_mv = pd.DataFrame(all_stock_basic.groupby(['细分行业'])['ab_mv'].agg(['sum','count'])).rename(columns={'sum':'blk_mv'})

In [89]:
all_stock_basic_1 = all_stock_basic.merge(blk_mv,left_on = '细分行业',right_index=True)

In [90]:
%time all_stock_basic_1.loc[:,'mv_share'] = all_stock_basic_1['ab_mv']/all_stock_basic_1['blk_mv']*100

Wall time: 2.98 ms

In [108]:
%time top1_stocks = all_stock_basic_1.groupby(['细分行业'])\
    .apply(lambda x:x.sort_values(by='mv_share',ascending=False).head(1))\
    .filter(['代码','名称','ab_mv','blk_mv','mv_share','count']).sort_values(by='count',ascending=False)

Wall time: 288 ms

In [109]:
# 龙头A股 导出
top1_stocks.droplevel(level=1).to_csv('top1_stocks.csv',encoding='gbk')

In [100]:
%time top2_stocks = all_stock_basic_1.groupby(['细分行业'])\
    .apply(lambda x:x.sort_values(by='mv_share',ascending=False).head(2))\
    .filter(['代码','名称','ab_mv','blk_mv','mv_share','count']).sort_values(by='count',ascending=False)

Wall time: 279 ms

In [107]:
# 龙头A股 导出
top2_stocks.droplevel(level=1).to_csv('top2_stocks.csv',encoding='gbk')

In [122]:
top1_non_small_blk = top1_stocks.query('count > 4 & blk_mv > 3000')
len(top1_non_small_blk)

63

In [123]:
top1_non_small_blk

               代码    名称     ab_mv    blk_mv   mv_share  count
细分行业
软件服务 718   002230  科大讯飞    868.85  22044.60   3.941328    273
电气设备 2210  300750  宁德时代  11378.94  62863.98  18.100890    263
元器件  956   002475  立讯精密   2685.39  33136.58   8.104005    252
化工原料 2932  600309  万华化学   2730.01  29082.09   9.387255    226
专用机械 1791  300316  晶盛机电    969.49  17882.27   5.421515    217
...           ...   ...       ...       ...        ...    ...
石油加工 2707  600028  中国石化   4070.76   6130.75  66.399054     11
电信运营 3622  601728  中国电信   2942.17   5706.43  51.558856     11
空运   3509  601111  中国国航    975.29   4127.72  23.627814      9
保险   3601  601628  中国人寿   6184.59  14884.23  41.551293      6
铁路   3634  601816  京沪高铁   2195.06   3529.90  62.184764      6

[63 rows x 6 columns]

In [118]:
top1_small_blk = top1_stocks.query('blk_mv < 3000').sort_values(by='blk_mv',ascending=False)

In [120]:
# 熊市 弱市 容易炒作小板块
len(top1_small_blk)

47

# 细分行业

In [33]:
# 超大板块 6
extra_big_blk = all_stock_basic.groupby(['细分行业'])['ab_mv'].sum().sort_values(ascending=False)[:9]
extra_big_blk

pandas.core.series.Series

In [25]:
# 大板块 12
big_blk = all_stock_basic.groupby(['细分行业'])['ab_mv'].sum().sort_values(ascending=False)[9:21]
big_blk

细分行业
化学制药    18012.01
专用机械    17882.27
汽车配件    17607.84
家用电器    16237.72
建筑工程    15022.90
保险      14884.23
通信设备    14625.45
食品      14605.57
汽车整车    14556.10
煤炭开采    14325.53
小金属     13060.15
生物制药    12629.19
Name: ab_mv, dtype: float64

In [34]:
# 中型板块 20
medium_blk = all_stock_basic.groupby(['细分行业'])['ab_mv'].sum().sort_values(ascending=False)[21:41]
medium_blk

细分行业
石油开采    12025.27
电器仪表     9856.56
水力发电     9594.84
中成药      9537.79
航空       9057.80
新型电力     8096.65
农药化肥     7925.01
农业综合     7908.17
仓储物流     7877.44
火力发电     7413.85
全国地产     7327.68
化纤       7016.22
环境保护     6787.13
互联网      6330.30
石油加工     6130.75
电信运营     5706.43
普钢       5377.19
机械基件     5227.07
工程机械     5042.09
区域地产     4560.11
Name: ab_mv, dtype: float64

In [37]:
# 中小型板块 30
medium_samll_blk = all_stock_basic.groupby(['细分行业'])['ab_mv'].sum().sort_values(ascending=False)[41:71]
medium_samll_blk

细分行业
铝       4471.01
多元金融    4405.25
塑料      4318.46
服饰      4151.91
铜       4147.08
影视音像    4128.45
空运      4127.72
IT设备    4114.45
运输设备    4106.94
港口      4036.18
水泥      3964.67
旅游服务    3952.41
水运      3801.42
铁路      3529.90
医药商业    3488.60
家居用品    3448.22
广告包装    3386.78
供气供热    3234.91
饲料      3197.15
乳制品     3098.00
特种钢     3095.92
玻璃      3039.27
船舶      2989.42
其他建材    2957.19
矿物制品    2761.17
文教休闲    2620.09
百货      2491.49
黄金      2363.23
路桥      2246.60
机场      2207.37
Name: ab_mv, dtype: float64

In [36]:
# 小型板块
small_blk = all_stock_basic.groupby(['细分行业'])['ab_mv'].sum().sort_values(ascending=False)[71:]
small_blk

细分行业
出版业     2095.71
造纸      2083.78
日用化工    2058.14
染料涂料    1967.16
园区开发    1917.39
商贸代理    1814.38
纺织      1766.41
啤酒      1715.36
铅锌      1611.23
钢加工     1583.57
种植业     1497.44
摩托车     1432.37
综合类     1356.61
软饮料     1296.16
装修装饰    1257.84
旅游景点    1148.84
化工机械    1138.08
水务      1137.25
酒店餐饮    1100.61
其他商业    1040.46
焦炭加工    1039.38
超市连锁    1022.32
汽车服务     993.09
机床制造     914.20
橡胶       905.30
轻工机械     839.69
红黄酒      823.80
陶瓷       619.91
房产服务     615.65
批发业      608.71
纺织机械     559.14
商品城      460.67
石油贸易     368.58
农用机械     347.86
电器连锁     314.35
公共交通     262.69
渔业       241.77
林业       133.02
公路        97.49
Name: ab_mv, dtype: float64

In [42]:
categorized_blk = pd.concat([extra_big_blk,big_blk,medium_blk,medium_samll_blk,small_blk],keys=['超大板块','大板块','中型板块','中小型板块','小型板块'])

In [48]:
blk_category = categorized_blk.reset_index().drop('ab_mv',axis=1).rename(columns={'level_0':'category'})

In [50]:
blk_category.to_csv('blk_category.csv')
blk_category

    category  细分行业
0       超大板块    银行
1       超大板块  电气设备
2       超大板块    白酒
3       超大板块   元器件
4       超大板块  化工原料
..       ...   ...
105     小型板块  电器连锁
106     小型板块  公共交通
107     小型板块    渔业
108     小型板块    林业
109     小型板块    公路

[110 rows x 2 columns]

In [13]:
all_stock_basic.groupby(['parent_industry'])['ab_mv'].sum().sort_values(ascending=False)

parent_industry
装备制造    120825.10
可选消费    119756.33
金融      110154.13
信息产业    107349.54
材料      102349.61
日常消费     86387.97
能源       58994.85
建筑地产     30701.57
交通运输     27924.12
社会服务     18432.89
公用事业     17128.41
商贸       11240.98
综合类       1356.61
Name: ab_mv, dtype: float64

In [15]:
# 超大板块 6个
all_stock_basic.groupby(['child_industry'])['ab_mv'].sum().sort_values(ascending=False)[:8]

child_industry
银行      64237.23
电气设备    62863.98
酿酒      46434.23
化工      44198.02
医药      40178.99
汽车类     34589.40
元器件     33136.58
半导体     27098.16
Name: ab_mv, dtype: float64

In [26]:
# 大板块 12个
big_industry = all_stock_basic.groupby(['child_industry'])['ab_mv'].sum().sort_values(ascending=False)[7:19]
big_industry

child_industry
半导体     27098.16
证券      26627.42
有色      25652.70
医疗保健    25302.00
电力      25105.34
软件服务    22044.60
工业机械    20767.04
食品饮料    18999.73
石油      18524.60
建筑      16280.74
家用电器    16237.72
煤炭      15364.91
Name: ab_mv, dtype: float64

In [25]:
# 中型板块
all_stock_basic.groupby(['child_industry'])['ab_mv'].sum().sort_values(ascending=False)[19:40]

child_industry
保险      14884.23
通信设备    14625.45
房地产     14420.83
农林牧渔    12977.55
运输服务    11556.53
建材      10581.04
钢铁      10056.68
电器仪表     9856.56
商业连锁     9426.60
航空       9057.80
交通设施     8490.15
仓储物流     7877.44
化纤       7016.22
环境保护     6787.13
互联网      6330.30
传媒娱乐     6224.16
通用机械     6141.27
纺织服饰     5918.32
电信运营     5706.43
旅游       5101.25
工程机械     5042.09
Name: ab_mv, dtype: float64

In [21]:
all_stock_basic.groupby(['child_industry'])['ab_mv'].sum().sort_values(ascending=False)[40:]

child_industry
多元金融    4405.25
IT设备    4114.45
运输设备    4106.94
家居用品    3448.22
广告包装    3386.78
供气供热    3234.91
船舶      2989.42
矿物制品    2761.17
文教休闲    2620.09
造纸      2083.78
日用化工    2058.14
商贸代理    1814.38
综合类     1356.61
水务      1137.25
酒店餐饮    1100.61
公共交通     262.69
Name: ab_mv, dtype: float64

In [17]:
all_stock_basic.groupby(['细分行业'])['ab_mv'].sum().sort_values(ascending=False)[7:20]

细分行业
医疗保健    25302.00
软件服务    22044.60
化学制药    18012.01
专用机械    17882.27
汽车配件    17607.84
家用电器    16237.72
建筑工程    15022.90
保险      14884.23
通信设备    14625.45
食品      14605.57
汽车整车    14556.10
煤炭开采    14325.53
小金属     13060.15
Name: ab_mv, dtype: float64

In [14]:
#超大板块
电气设备    装备制造 查看相关性高的板块
酿酒      46434.23
化工      44198.02
医药      40178.99
汽车类     34589.40
元器件     33136.58
supper_big_industry_code = ['880446','880380','880335','880400','880390','880492']

In [6]:
pd.read_csv('Industry Classification.csv')

         代码    名称   大板块
0    880446  电气设备    制造
1    880471    银行    金融
2    880381    白酒  食品消费
3    880492   元器件    电子
4    880336  化工原料    化工
..      ...   ...   ...
105  880409  电器连锁    商业
106  880362    渔业  第一产业
107  880453  公共交通  公共事业
108  880363    林业  第一产业
109  880463    公路    运输

[110 rows x 3 columns]

In [7]:
# 获得所有A股的市值
df_total_mv = pro.query('daily_basic', ts_code='', trade_date='20220830',fields='ts_code,total_mv,circ_mv,dv_ratio,volume_ratio,pe,pb')

In [8]:
import re
# regex = re.compile('\d*.\w*')

In [9]:
# %time df_total_mv.loc[:,'code3'] = df_total_mv['ts_code'].map(lambda x: x.strip('.,SZ,SH,BJ'))
# Wall time: 6 ms

In [10]:
# %time df_total_mv.loc[:,'code2'] = df_total_mv['ts_code'].map(lambda x: re.sub("(\.\w{2})","",x))
# Wall time: 10 ms

In [11]:
%time df_total_mv.loc[:,'code'] = df_total_mv['ts_code'].map(lambda x: x.replace('.SH','').replace('.SZ','').replace('.BJ',''))

Wall time: 3 ms

In [12]:
df_total_mv

,ts_code,volume_ratio,pe,pb,dv_ratio,total_mv,circ_mv,code
0,603360.SH,0.66,17.2847,3.3776,3.4678,4.329677e+05,4.278404e+05,603360
1,002928.SZ,0.49,NaN,4.1853,0.5545,1.114924e+06,1.114924e+06,002928
2,000806.SZ,0.53,NaN,NaN,0.0000,2.529797e+05,1.608401e+05,000806
3,000875.SZ,1.03,42.8711,1.7147,0.0000,1.930824e+06,1.692408e+06,000875
4,600521.SH,0.60,60.3693,4.7565,0.9884,2.943214e+06,2.885952e+06,600521
...,...,...,...,...,...,...,...,...
4880,600581.SH,0.66,5.7879,1.6530,0.0000,6.836671e+05,6.744751e+05,600581
4881,000721.SZ,1.20,NaN,3.9619,0.0000,2.622788e+05,1.992304e+05,000721
4882,002165.SZ,3.61,121.1569,1.7090,1.6327,3.602822e+05,3.563777e+05,002165
4883,300842.SZ,0.60,73.4758,7.1722,0.0000,6.902000e+05,4.797661e+05,300842
4884,689009.SH,0.95,75.9853,6.7861,NaN,3.119946e+06,2.231457e+06,689009

In [13]:
%time all_blk_component = QA.QA_fetch_stock_block_adv().view_block

Wall time: 1.32 s

In [14]:
index_list = QA.QA_fetch_index_list()

In [15]:
# index_list.loc['880610']
index_list.shape

(1220, 7)

In [16]:
all_blk_component.shape

(1212,)

In [17]:
index_list_df = index_list.reset_index(drop=True).set_index('name').filter(['code'])

In [18]:
%time index_list_df.merge(all_blk_component.rename('component').to_frame(),left_index=True,right_index=True)

Wall time: 8.99 ms

          code                                          component
3D打印    880569  [000821, 000837, 000928, 000938, 000969, 00098...
5G概念    880506  [000004, 000049, 000063, 000066, 000070, 00015...
BIPV概念  880977  [000012, 000027, 000040, 000055, 000058, 00059...
C2M概念   880717  [000726, 002094, 002154, 002397, 002489, 00250...
CXO概念   880729  [000813, 002370, 002821, 300012, 300149, 30034...
...        ...                                                ...
高速公路    880662  [000429, 000548, 000755, 000828, 000900, 00196...
鸡肉      880764  [000048, 000529, 000735, 000876, 002100, 00223...
鸿蒙概念    880722  [000004, 000158, 000676, 000997, 002123, 00221...
黄金      880328  [000506, 000975, 002155, 002237, 600311, 60048...
黄金概念    880521  [000009, 000017, 000060, 000506, 000546, 00058...

[520 rows x 2 columns]

In [19]:
%time index_name_code_component = index_list_df.merge(all_blk_component.rename('component').to_frame(),left_index=True,right_index=True)

Wall time: 3.97 ms

In [20]:
index_name_code_component.sort_values('code')

          code                                          component
上证380   000009  [600007, 600008, 600015, 600018, 600021, 60002...
上证180   000010  [600000, 600009, 600010, 600011, 600016, 60001...
上证50    000016  [600010, 600028, 600030, 600031, 600036, 60004...
上证中盘    000044  [600000, 600009, 600011, 600016, 600019, 60002...
高端装备    000097  [000039, 000157, 000338, 000400, 000410, 00041...
...        ...                                                ...
医美概念    880973  [000150, 000516, 000538, 000615, 000650, 00071...
烟草概念    880974  [000812, 000910, 002012, 002161, 002191, 00231...
有机硅     880975  [000830, 001212, 002054, 002091, 002132, 00221...
新冠检测    880976  [000513, 000710, 002022, 002030, 002038, 00204...
BIPV概念  880977  [000012, 000027, 000040, 000055, 000058, 00059...

[520 rows x 2 columns]

In [21]:
# 有重复
index_name_code_component.loc['煤炭开采']

        code                                          component
煤炭开采  880302  [000552, 000571, 000937, 000983, 002128, 60012...
煤炭开采  880610  [000552, 000571, 000937, 000983, 002128, 60012...

In [24]:
industry_list_df= index_name_code_component.set_index('code').sort_index().loc['880302':'880497']

In [25]:
# 第一个
industry_list_df.loc['880302']

component    [000552, 000571, 000937, 000983, 002128, 60012...
Name: 880302, dtype: object

In [26]:
# 最后一个
industry_list_df.loc['880497']

component    [000034, 000038, 000632, 000839, 000881, 00090...
Name: 880497, dtype: object

In [27]:
industry_list_df

                                                component
code
880302  [000552, 000571, 000937, 000983, 002128, 60012...
880303  [000723, 600408, 600725, 600740, 600792, 60101...
880306  [000601, 000791, 000993, 002039, 600025, 60010...
880307  [000027, 000037, 000531, 000539, 000543, 00060...
880308  [000040, 000155, 000537, 000591, 000862, 00125...
...                                                   ...
880491  [001270, 001309, 002077, 002079, 002119, 00215...
880492  [000020, 000032, 000045, 000050, 000100, 00041...
880493  [000004, 000158, 000409, 000503, 000555, 00063...
880494  [000606, 000676, 000681, 000971, 002095, 00211...
880497  [000034, 000038, 000632, 000839, 000881, 00090...

[110 rows x 1 columns]

In [28]:
industry_list_df.iloc[0]

component    [000552, 000571, 000937, 000983, 002128, 60012...
Name: 880302, dtype: object

In [29]:
type(industry_list_df.iloc[0])

pandas.core.series.Series

In [30]:
idx_code = industry_list_df.index.values[0]

In [31]:
# it's series
component = industry_list_df.iloc[0]

In [32]:
component_list = component.iloc[0]

In [33]:
type(industry_list_df)

pandas.core.frame.DataFrame

In [34]:
list([idx_code]*10)

['880302',
 '880302',
 '880302',
 '880302',
 '880302',
 '880302',
 '880302',
 '880302',
 '880302',
 '880302']

In [148]:
all_component = []

In [150]:
all_component

[]

In [118]:
%time stock_index_mapping = pd.DataFrame(columns=['index_code'])
all_component = []
for index, row in industry_list_df.iterrows():
    component = row.iloc[0]
    all_component.extend(component)
    one_blk = pd.DataFrame(list([pd.to_numeric(index)]*len(component)),index=component,columns=['index_code'])
#     stock_index_mapping = pd.concat([stock_index_mapping,one_blk],axis=1)
    stock_index_mapping = stock_index_mapping.append(one_blk)

Wall time: 994 µs

In [109]:
# stock_index_mapping.drop(['duplicate'],axis=1,inplace=True)

In [129]:
type(stock_index_mapping.loc['000552'].values[0])

int

In [132]:
type(stock_index_mapping['index_code'][0])

int

In [139]:
test = stock_index_mapping.reset_index().groupby(['index']).rank(ascending=1)

DataError: No numeric types to aggregate

In [137]:
test[test['index_code']==2]

        index_code
index
000068           2
000638           2
000882           2
000883           2
000920           2
002122           2
002182           2
002357           2
002575           2
002718           2
002798           2
002918           2
003025           2
300021           2
300083           2
300106           2
300208           2
300503           2
300506           2
300915           2
301150           2
301217           2
600008           2
600226           2
600256           2
600676           2
600769           2
600881           2
600997           2
601010           2
601996           2
603038           2
603069           2
603088           2
605300           2
605318           2
605388           2
688101           2

In [65]:
df_total_mv_code = df_total_mv.set_index('code')

In [92]:
df_total_mv_code.loc[:,'duplicate'] = df_total_mv_code.index.duplicated()

In [94]:
df_total_mv_code[df_total_mv_code['duplicate'] == True]

Empty DataFrame
Columns: [ts_code, volume_ratio, pe, pb, dv_ratio, total_mv, circ_mv, duplicate]
Index: []

In [95]:
stock_index_mapping.loc[:,'duplicate'] = stock_index_mapping.index.duplicated()

In [96]:
stock_index_mapping[stock_index_mapping['duplicate'] == True]

       index_code  duplicate
600997     880303       True
000883     880307       True
600256     880313       True
002182     880329       True
002918     880348       True
300106     880373       True
605388     880374       True
300915     880375       True
605300     880375       True
002718     880399       True
002798     880399       True
601996     880399       True
601010     880408       True
000882     880411       True
002122     880439       True
003025     880439       True
300083     880439       True
300503     880439       True
603088     880445       True
300021     880454       True
000068     880456       True
000920     880456       True
600008     880456       True
688101     880456       True
002357     880463       True
603069     880463       True
600769     880477       True
603038     880478       True
605318     880478       True
300506     880478       True
301150     880492       True
301217     880492       True
000638     880497       True
002575     880497       True
300208     880497       True
600226     880497       True
600676     880497       True
600881     880497       True

In [105]:
stock_index_mapping.loc['600997']

       index_code  duplicate
600997     880302      False
600997     880303       True

In [89]:
stock_mv_index = pd.concat([df_total_mv_code,stock_index_mapping],axis=1)

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [44]:
stock_mv_index[~stock_mv_index['index_code'].isnull()]

       ts_code  volume_ratio  pe  pb  dv_ratio  total_mv  circ_mv index_code
000552     NaN           NaN NaN NaN       NaN       NaN      NaN     880302
000571     NaN           NaN NaN NaN       NaN       NaN      NaN     880302
000937     NaN           NaN NaN NaN       NaN       NaN      NaN     880302
000983     NaN           NaN NaN NaN       NaN       NaN      NaN     880302
002128     NaN           NaN NaN NaN       NaN       NaN      NaN     880302
...        ...           ...  ..  ..       ...       ...      ...        ...
002575     NaN           NaN NaN NaN       NaN       NaN      NaN     880497
300208     NaN           NaN NaN NaN       NaN       NaN      NaN     880497
600226     NaN           NaN NaN NaN       NaN       NaN      NaN     880497
600676     NaN           NaN NaN NaN       NaN       NaN      NaN     880497
600881     NaN           NaN NaN NaN       NaN       NaN      NaN     880497

[4968 rows x 8 columns]

In [82]:
df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
                   columns=['animal', 'name'],index=['a','b'])

In [83]:
df4

   animal    name
a    bird   polly
b  monkey  george

In [84]:
df1 = pd.DataFrame([['a', 1], ['b', 2]],
                   columns=['letter', 'number'],index=['a','b'])
df1

  letter  number
a      a       1
b      b       2

In [85]:
pd.concat([df1,df4],axis=1)

  letter  number  animal    name
a      a       1    bird   polly
b      b       2  monkey  george

array([list(['000552', '000571', '000937', '000983', '002128', '600121', '600123', '600188', '600348', '600395', '600397', '600403', '600508', '600546', '600758', '600971', '600985', '600997', '601001', '601088', '601101', '601225', '601666', '601699', '601898', '601918'])],
      dtype=object)

In [85]:
component_list.values.

(1,)

In [ ]:
QA.QA_fetch_c

In [75]:
list(idx_code*len(component_list))

['8', '8', '0', '3', '0', '2']

In [73]:
pd.DataFrame(idx_code*len(component_list),index=component_list)

ValueError: DataFrame constructor not properly called!

component    [000034, 000038, 000632, 000839, 000881, 00090...
Name: 880497, dtype: object

In [4]:
industry_classification = pd.read_csv('Industry Classification.csv',dtype={'代码':str})

In [5]:
target_index = industry_classification[industry_classification['大板块']=='制造']['代码'].to_list()

In [6]:
target_index

['880446',
 '880445',
 '880392',
 '880448',
 '880439',
 '880447',
 '880350',
 '880368',
 '880441',
 '880438',
 '880442',
 '880443',
 '880444']

In [7]:
test = QA.QA_fetch_index_day_adv(target_index,'2022-01-1','2022-08-29')

In [8]:
df_test = test.reset_index()

In [9]:
new_df = df_test.pivot(index='date',columns='code',values='close')

In [10]:
new_df.corr()

code,880350,880368,880392,880438,880439,880441,880442,880443,880444,880445,880446,880447,880448
code,,,,,,,,,,,,,
880350,1.000000,0.796932,0.447125,0.690140,0.438129,0.318430,0.678466,0.809292,0.712464,0.529191,0.404032,0.892746,0.943824
880368,0.796932,1.000000,0.797623,0.853455,0.766074,0.663944,0.828991,0.911112,0.877429,0.819748,0.738172,0.889190,0.794962
880392,0.447125,0.797623,1.000000,0.871407,0.957337,0.861877,0.793996,0.778685,0.723601,0.953203,0.939227,0.667754,0.489103
880438,0.690140,0.853455,0.871407,1.000000,0.911816,0.815590,0.907279,0.840414,0.795601,0.940451,0.807588,0.758060,0.713147
880439,0.438129,0.766074,0.957337,0.911816,1.000000,0.908732,0.771453,0.731663,0.751855,0.981075,0.948863,0.597998,0.448946
880441,0.318430,0.663944,0.861877,0.815590,0.908732,1.000000,0.722994,0.631607,0.681371,0.910931,0.861845,0.451227,0.320251
880442,0.678466,0.828991,0.793996,0.907279,0.771453,0.722994,1.000000,0.814490,0.680973,0.842993,0.679729,0.792074,0.756422
880443,0.809292,0.911112,0.778685,0.840414,0.731663,0.631607,0.814490,1.000000,0.854752,0.785756,0.720715,0.862914,0.812719
880444,0.712464,0.877429,0.723601,0.795601,0.751855,0.681371,0.680973,0.854752,1.000000,0.781236,0.731461,0.746637,0.661675
880445,0.529191,0.819748,0.953203,0.940451,0.981075,0.910931,0.842993,0.785756,0.781236,1.000000,0.946366,0.664540,0.546189
880446,0.404032,0.738172,0.939227,0.807588,0.948863,0.861845,0.679729,0.720715,0.731461,0.946366,1.000000,0.579510,0.405227
880447,0.892746,0.889190,0.667754,0.758060,0.597998,0.451227,0.792074,0.862914,0.746637,0.664540,0.579510,1.000000,0.906396
880448,0.943824,0.794962,0.489103,0.713147,0.448946,0.320251,0.756422,0.812719,0.661675,0.546189,0.405227,0.906396,1.000000

In [30]:
idx_list = QA.QA_fetch_index_list_adv()

          code  volunit  decimal_point   name     pre_close sse       sec
code
000001  000001    100.0            2.0   上证指数   2822.442383  sh  index_cn
000002  000002    100.0            2.0   Ａ股指数   2958.152588  sh  index_cn
000003  000003    100.0            2.0   Ｂ股指数    210.989807  sh  index_cn
000004  000004    100.0            2.0   工业指数   2291.368164  sh  index_cn
000005  000005    100.0            2.0   商业指数   2728.330322  sh  index_cn
...        ...      ...            ...    ...           ...  ..       ...
000109  000109    100.0            2.0  380医药  12490.842773  sh  index_cn
000110  000110    100.0            2.0  380金融   3080.125732  sh  index_cn
000111  000111    100.0            2.0  380信息   7211.254883  sh  index_cn
000112  000112    100.0            2.0  380电信   5717.240234  sh  index_cn
000113  000113    100.0            2.0  380公用   1883.357300  sh  index_cn

[100 rows x 7 columns]

In [31]:
idx_list['code'].to_list()

['000001',
 '000002',
 '000003',
 '000004',
 '000005',
 '000006',
 '000007',
 '000008',
 '000009',
 '000010',
 '000011',
 '000012',
 '000013',
 '000015',
 '000016',
 '000017',
 '000018',
 '000019',
 '000020',
 '000021',
 '000022',
 '000025',
 '000026',
 '000027',
 '000028',
 '000029',
 '000030',
 '000031',
 '000032',
 '000033',
 '000034',
 '000035',
 '000036',
 '000037',
 '000038',
 '000039',
 '000040',
 '000041',
 '000042',
 '000043',
 '000044',
 '000045',
 '000046',
 '000047',
 '000048',
 '000049',
 '000050',
 '000051',
 '000052',
 '000053',
 '000054',
 '000055',
 '000056',
 '000057',
 '000058',
 '000059',
 '000060',
 '000061',
 '000062',
 '000063',
 '000064',
 '000065',
 '000066',
 '000067',
 '000068',
 '000069',
 '000070',
 '000071',
 '000072',
 '000073',
 '000074',
 '000075',
 '000076',
 '000077',
 '000078',
 '000079',
 '000090',
 '000091',
 '000092',
 '000093',
 '000094',
 '000095',
 '000096',
 '000097',
 '000098',
 '000099',
 '000100',
 '000101',
 '000102',
 '000103',
 '000104',
 '000105',
 '000106',
 '000107',
 '000108',
 '000109',
 '000110',
 '000111',
 '000112',
 '000113',
 '000114',
 '000115',
 '000116',
 '000117',
 '000118',
 '000119',
 '000120',
 '000121',
 '000122',
 '000123',
 '000125',
 '000126',
 '000128',
 '000129',
 '000130',
 '000131',
 '000132',
 '000133',
 '000134',
 '000135',
 '000136',
 '000137',
 '000138',
 '000139',
 '000141',
 '000142',
 '000145',
 '000146',
 '000147',
 '000148',
 '000149',
 '000150',
 '000151',
 '000152',
 '000153',
 '000155',
 '000158',
 '000159',
 '000160',
 '000161',
 '000162',
 '000170',
 '000171',
 '000300',
 '000802',
 '000805',
 '000808',
 '000814',
 '000819',
 '000823',
 '000827',
 '000828',
 '000841',
 '000842',
 '000847',
 '000849',
 '000851',
 '000852',
 '000853',
 '000854',
 '000855',
 '000856',
 '000857',
 '000858',
 '000860',
 '000863',
 '000865',
 '000867',
 '000869',
 '000891',
 '000901',
 '000903',
 '000904',
 '000905',
 '000906',
 '000913',
 '000914',
 '000918',
 '000928',
 '000932',
 '000933',
 '000934',
 '000935',
 '000944',
 '000958',
 '000966',
 '000971',
 '000974',
 '000982',
 '000984',
 '000986',
 '000987',
 '000989',
 '000990',
 '000991',
 '000992',
 '000993',
 '000998',
 '395001',
 '395002',
 '395003',
 '395004',
 '395005',
 '395011',
 '395012',
 '395013',
 '395014',
 '395021',
 '395022',
 '395024',
 '395031',
 '395032',
 '395041',
 '395099',
 '399001',
 '399002',
 '399003',
 '399004',
 '399005',
 '399006',
 '399007',
 '399008',
 '399009',
 '399010',
 '399011',
 '399012',
 '399013',
 '399015',
 '399016',
 '399017',
 '399018',
 '399050',
 '399088',
 '399100',
 '399101',
 '399102',
 '399103',
 '399106',
 '399107',
 '399108',
 '399231',
 '399232',
 '399233',
 '399234',
 '399235',
 '399236',
 '399237',
 '399238',
 '399239',
 '399240',
 '399241',
 '399242',
 '399243',
 '399244',
 '399248',
 '399249',
 '399282',
 '399283',
 '399284',
 '399285',
 '399286',
 '399290',
 '399291',
 '399292',
 '399293',
 '399294',
 '399295',
 '399296',
 '399297',
 '399298',
 '399299',
 '399300',
 '399301',
 '399302',
 '399303',
 '399306',
 '399307',
 '399310',
 '399311',
 '399312',
 '399313',
 '399314',
 '399315',
 '399316',
 '399317',
 '399318',
 '399319',
 '399320',
 '399321',
 '399322',
 '399324',
 '399326',
 '399328',
 '399330',
 '399333',
 '399335',
 '399337',
 '399339',
 '399341',
 '399344',
 '399346',
 '399348',
 '399350',
 '399351',
 '399352',
 '399353',
 '399354',
 '399355',
 '399356',
 '399357',
 '399358',
 '399359',
 '399360',
 '399361',
 '399362',
 '399363',
 '399364',
 '399365',
 '399366',
 '399367',
 '399368',
 '399369',
 '399370',
 '399371',
 '399372',
 '399373',
 '399374',
 '399375',
 '399376',
 '399377',
 '399378',
 '399379',
 '399380',
 '399381',
 '399382',
 '399383',
 '399384',
 '399385',
 '399386',
 '399387',
 '399388',
 '399389',
 '399390',
 '399391',
 '399392',
 '399393',
 '399394',
 '399395',
 '399396',
 '399397',
 '399398',
 '399399',
 '399400',
 '399401',
 '399402',
 '399403',
 '399404',
 '399405',
 '399406',
 '399407',
 '399408',
 '399409',
 '399410',
 '399411',
 '399412',
 '399413',
 '399415',
 '399416',
 '399417',
 '399418',
 '399419',
 '399420',
 '399422',
 '399423',
 '399427',
 '399428',
 '399429',
 '399431',
 '399432',
 '399433',
 '399434',
 '399435',
 '399436',
 '399437',
 '399438',
 '399439',
 '399440',
 '399441',
 '399481',
 '399550',
 '399551',
 '399552',
 '399553',
 '399554',
 '399555',
 '399556',
 '399557',
 '399602',
 '399604',
 '399606',
 '399608',
 '399610',
 '399611',
 '399612',
 '399613',
 '399614',
 '399615',
 '399616',
 '399617',
 '399618',
 '399619',
 '399620',
 '399621',
 '399622',
 '399623',
 '399624',
 '399625',
 '399626',
 '399627',
 '399628',
 '399629',
 '399630',
 '399631',
 '399632',
 '399633',
 '399634',
 '399635',
 '399636',
 '399637',
 '399638',
 '399639',
 '399640',
 '399641',
 '399642',
 '399643',
 '399644',
 '399645',
 '399646',
 '399647',
 '399648',
 '399649',
 '399650',
 '399651',
 '399652',
 '399653',
 '399654',
 '399655',
 '399656',
 '399657',
 '399658',
 '399659',
 '399660',
 '399661',
 '399662',
 '399663',
 '399664',
 '399665',
 '399666',
 '399667',
 '399668',
 '399669',
 '399670',
 '399671',
 '399672',
 '399673',
 '399674',
 '399675',
 '399676',
 '399677',
 '399678',
 '399679',
 '399680',
 '399681',
 '399682',
 '399683',
 '399684',
 '399685',
 '399686',
 '399687',
 '399688',
 '399689',
 '399690',
 '399691',
 '399692',
 '399693',
 '399694',
 '399695',
 '399696',
 '399697',
 '399698',
 '399699',
 '399701',
 '399702',
 '399703',
 '399704',
 '399705',
 '399706',
 '399707',
 '399802',
 '399803',
 '399804',
 '399805',
 '399806',
 '399807',
 '399808',
 '399809',
 '399810',
 '399811',
 '399812',
 '399813',
 '399814',
 '399817',
 '399901',
 '399903',
 '399904',
 '399905',
 '399913',
 '399914',
 '399918',
 '399928',
 '399932',
 '399933',
 '399934',
 '399935',
 '399944',
 '399958',
 '399959',
 '399965',
 '399966',
 '399967',
 '399970',
 '399971',
 '399972',
 '399973',
 '399974',
 '399975',
 '399976',
 '399982',
 '399983',
 '399986',
 '399987',
 '399989',
 '399990',
 '399991',
 '399992',
 '399993',
 '399994',
 '399995',
 '399996',
 '399997',
 '399998',
 '880001',
 '880002',
 '880003',
 '880004',
 '880005',
 '880006',
 '880007',
 '880011',
 '880012',
 '880013',
 '880014',
 '880015',
 '880016',
 '880017',
 '880021',
 '880022',
 '880023',
 '880024',
 '880025',
 '880026',
 '880027',
 '880031',
 '880032',
 '880033',
 '880034',
 '880035',
 '880036',
 '880037',
 '880201',
 '880202',
 '880203',
 '880204',
 '880205',
 '880206',
 '880207',
 '880208',
 '880209',
 '880210',
 '880211',
 '880212',
 '880213',
 '880214',
 '880215',
 '880216',
 '880217',
 '880218',
 '880219',
 '880220',
 '880221',
 '880222',
 '880223',
 '880224',
 '880225',
 '880226',
 '880227',
 '880228',
 '880229',
 '880230',
 '880231',
 '880232',
 '880301',
 '880302',
 '880303',
 '880305',
 '880306',
 '880307',
 '880308',
 '880310',
 '880311',
 '880312',
 '880313',
 '880318',
 '880319',
 '880320',
 '880321',
 '880324',
 '880325',
 '880326',
 '880327',
 '880328',
 '880329',
 '880330',
 '880335',
 '880336',
 '880337',
 '880338',
 '880339',
 '880340',
 '880344',
 '880345',
 '880346',
 '880347',
 '880348',
 '880350',
 '880351',
 '880355',
 '880360',
 '880361',
 '880362',
 '880363',
 '880364',
 '880366',
 '880367',
 '880368',
 '880369',
 '880372',
 '880373',
 '880374',
 '880375',
 '880380',
 '880381',
 '880382',
 '880383',
 '880387',
 '880390',
 '880391',
 '880392',
 '880393',
 '880394',
 '880398',
 '880399',
 '880400',
 '880401',
 '880402',
 '880403',
 '880406',
 '880407',
 '880408',
 '880409',
 '880410',
 '880411',
 '880412',
 '880413',
 '880414',
 '880418',
 '880419',
 '880420',
 '880421',
 '880422',
 '880423',
 '880424',
 '880425',
 '880426',
 '880430',
 '880431',
 '880432',
 '880437',
 '880438',
 '880439',
 '880440',
 '880441',
 '880442',
 '880443',
 '880444',
 '880445',
 '880446',
 '880447',
 '880448',
 '880452',
 '880453',
 '880454',
 '880455',
 '880456',
 '880459',
 '880460',
 '880461',
 '880462',
 '880463',
 '880464',
 '880465',
 '880466',
 '880467',
 '880468',
 '880471',
 '880472',
 '880473',
 '880474',
 '880476',
 '880477',
 '880478',
 '880482',
 '880483',
 '880484',
 '880485',
 '880486',
 '880489',
 '880490',
 '880491',
 '880492',
 '880493',
 '880494',
 '880497',
 '880501',
 '880502',
 '880503',
 '880504',
 '880505',
 '880506',
 '880507',
 '880511',
 '880513',
 '880515',
 '880516',
 '880519',
 '880520',
 '880521',
 '880522',
 '880523',
 '880524',
 '880525',
 '880526',
 '880527',
 '880528',
 '880529',
 '880530',
 '880531',
 '880532',
 '880533',
 '880534',
 '880535',
 '880536',
 '880537',
 '880538',
 '880539',
 '880540',
 '880542',
 '880543',
 '880544',
 '880545',
 '880546',
 '880547',
 '880549',
 '880550',
 '880551',
 '880552',
 '880553',
 '880554',
 '880556',
 '880557',
 '880558',
 '880559',
 '880560',
 '880562',
 '880563',
 '880564',
 '880565',
 '880567',
 '880568',
 '880569',
 '880570',
 '880571',
 '880572',
 '880573',
 '880574',
 '880575',
 '880576',
 '880577',
 '880578',
 '880579',
 '880580',
 '880581',
 '880582',
 '880583',
 '880584',
 '880585',
 '880586',
 '880587',
 '880588',
 '880589',
 '880590',
 '880591',
 '880592',
 '880593',
 '880594',
 '880595',
 '880596',
 '880597',
 '880598',
 '880599',
 '880600',
 '880601',
 '880602',
 '880603',
 '880604',
 '880605',
 '880606',
 '880607',
 '880608',
 '880609',
 '880610',
 '880612',
 '880613',
 '880614',
 '880615',
 '880616',
 '880617',
 '880618',
 '880619',
 '880620',
 '880621',
 '880622',
 '880623',
 '880624',
 '880625',
 '880626',
 '880627',
 '880628',
 '880629',
 '880630',
 '880631',
 '880632',
 '880633',
 '880634',
 '880635',
 '880636',
 '880637',
 '880638',
 '880639',
 '880640',
 '880641',
 '880642',
 '880643',
 '880644',
 '880645',
 '880646',
 '880647',
 '880648',
 '880649',
 '880650',
 '880651',
 '880652',
 '880653',
 '880654',
 '880655',
 '880656',
 '880657',
 '880658',
 '880659',
 '880660',
 '880661',
 '880662',
 '880663',
 '880664',
 '880665',
 '880666',
 '880667',
 '880668',
 '880669',
 '880670',
 '880671',
 '880672',
 '880673',
 '880674',
 '880675',
 '880676',
 '880677',
 '880678',
 '880679',
 '880680',
 '880681',
 '880682',
 '880683',
 '880684',
 '880685',
 '880701',
 '880702',
 '880704',
 '880705',
 '880706',
 '880707',
 '880708',
 '880709',
 '880710',
 '880711',
 '880713',
 '880714',
 '880715',
 '880716',
 '880717',
 '880718',
 '880770',
 '880771',
 '880772',
 '880773',
 '880774',
 '880775',
 '880776',
 '880777',
 '880778',
 '880779',
 '880780',
 '880781',
 '880782',
 '880783',
 '880784',
 '880785',
 '880786',
 '880787',
 '880790',
 '880791',
 '880792',
 '880793',
 '880794',
 '880795',
 '880796',
 '880797',
 '880798',
 '880799',
 '880800',
 '880801',
 '880802',
 '880803',
 '880804',
 '880805',
 '880806',
 '880807',
 '880808',
 '880809',
 '880810',
 '880811',
 '880812',
 '880813',
 '880814',
 '880815',
 '880816',
 '880817',
 '880821',
 '880823',
 '880824',
 '880826',
 '880827',
 '880829',
 '880833',
 '880834',
 '880835',
 '880836',
 '880837',
 '880842',
 '880843',
 '880844',
 '880845',
 '880846',
 '880847',
 '880848',
 '880849',
 '880850',
 '880851',
 '880852',
 '880853',
 ...]